[2013-03-12 21:38] greghendershott opened #1 "Add verbosity levels"
Currently it's _extremely_ verbose. Replace the `eprintf` calls with two or three levels of verbosity.

[2013-03-12 21:40] greghendershott opened #2 "Paginate indexes"
Index pages currently show all posts in one page. Add ability to paginate to N per page, with older/newer navigation.

[2013-03-12 21:41] greghendershott opened #3 "Configurable summary or full post for Atom feeds"
Currently the Atom feeds show only the portion of the post above the `` marker (if any) with a "Continue reading..." link. Make this configurable to allow the option of including the full posts.

[2013-03-12 21:42] greghendershott opened #4 "Configurable summary or full post for index pages"
Currently the index pages show only the portion of the post above the `` marker (if any) with a "Continue reading..." link. Make this configurable to allow the option of including the full posts.

[2013-03-12 21:47] greghendershott opened #5 "Allow a configurable top nav bar."
Currently it's hardcoded to show Home and About.html.

Support a `_src/navbar.md` file that allows defining the navbar. Since it's Markdown, this could simply be a list of links.  For example:

[code]

That gets translated into Bootstrap nav menu bar.

[2013-03-12 21:51] greghendershott opened #6 "Get Bootstrap responsive mode working, and make it a configurable option"
Currently the `responsive?` parameter (which selects alternative Bootstrap CSS and JS files, and uses "fluid" container and row classes) is hardcoded to `#f` and not loaded from `.frogrc`.

The reason why: When it's `#t`, the browser acts like it can't find the CSS file at all.

I had this working before with a hand-coded version of my site. It's probably some stupid little bug.

It would be good

[2013-03-12 21:54] greghendershott opened #7 "Obtain an unencumbered image of a frog to use as a logo. :)"

[2013-03-13 12:34] greghendershott opened #10 "Test on Windows"
The main area I'd expect any problems is path names. It's possible that converting from local file system paths to URI will result in `\` instead of `/` in the URI paths.

This _should_ be localized in the `abs->rel/www` function. Although not rocket science, it's probably not _quite_ as simple as that. Just need time, and dust off my Windows laptop. If anyone else wants to take a crack at this, f

[2013-03-14 12:56] #5 closed, assigned to greghendershott

[2013-03-14 17:44] #3 closed, assigned to greghendershott

[2013-03-14 17:47] #4 closed, assigned to greghendershott

[2013-03-14 18:32] #1 closed, assigned to greghendershott

[2013-03-15 00:08] greghendershott opened #11 "Add post tags to meta keywords"
For post pages, should take the tags and put them in meta keywords for the generated page.

Racket:

[code]

HTML:

[code]

[2013-03-16 22:24] greghendershott opened #12 "Add RSS feeds (already have Atom feeds)"

[2013-03-17 20:07] #11 closed, assigned to greghendershott

[2013-03-17 20:56] #12 closed, assigned to greghendershott

[2013-03-18 00:31] #7 closed, assigned to greghendershott

[2013-03-20 12:11] greghendershott opened #13 "Add option to limit feeds to N most-recent items"

[2013-03-25 13:17] #13 closed, assigned to greghendershott

[2013-03-25 13:50] greghendershott opened #14 "Use some form of magic to avoid or minimize shelling out to Pygments"
Shelling out to Pygments for each code block takes some non-trivial amount of time. Another approach would be better (although at this point I think it would be more of a nice-to-have than a must-have -- the performance isn't _that_ bad).

It's been interesting to watch [pygments.rb](https://github.com/tmm1/pygments.rb) (used by GitHub) deal with similar. Originally they shelled out like we're doi

[2013-03-25 14:16] WillemDeGroef opened #16 "Add the option to include a header.md file before the index list"
+---------------+
| navbar
+---------------+
| header.md
+---------------+
| post 1
| post 2
| ...
| post N
+---------------+

[2013-04-02 18:58] greghendershott opened #17 "Footnote links don't work in feeds"
Links to and from footnotes don't work in feeds (neither Atom nor RSS).

I need to think about it more to understand if this even _could_ work satisfactorily.

If not--or in the meantime--two obvious options:
1. Change the links from relative to absolute. As a result, clicking one would take you away from the feed reader to the original web site page.
2. Disable the links entirely:
   - Show the f

[2013-04-03 01:18] #17 closed, assigned to greghendershott

[2013-04-03 12:08] #6 closed, assigned to nobody

[2013-05-08 06:26] dherman opened #19 "allow favicons of multiple image type"
I believe frog is hard-coded to require favicon.ico, but favicons can use other image types like .png. It'd be great to make this configurable in .frogrc.

[2013-05-08 15:36] #19 closed, assigned to greghendershott

[2013-05-10 02:02] greghendershott opened #20 "Self-closing HTML elements not recognized as HTML"
This:

[code]

does not preserve the `<img src="/img/yunocoros.jpg"/>` as HTML, instead it becomes plain text.

Reported by @dherman

cf https://github.com/greghendershott/markdown/issues/3

[2013-05-10 02:08] greghendershott opened #21 "Bad output HTML file name"
@dherman reports that a file like "2013-06-09-hello-world.md" is creating a file like "-hello-world.html".

[2013-05-10 02:15] greghendershott opened #22 "Allow the post permalink pattern to be configurable"
This way, people migrating from an existing blog don't need to 301 redirect everything.

See for example: http://jekyllrb.com/docs/permalinks/

Requested by @dherman, who at a minimum would like the Octopress default style, which IIUC is `/blog/YYYY/MM/DD/filename-without-md-extension/`.  (Note: This _actually_ means `/blog/YYYY/MM/DD/filename-without-md-extension/index.html` -- every post is an `

[2013-05-10 13:35] #16 closed, assigned to greghendershott

[2013-05-10 14:02] #20 closed, assigned to greghendershott

[2013-05-10 20:50] #22 closed, assigned to greghendershott

[2013-05-10 20:59] #21 closed, assigned to greghendershott

[2013-05-13 22:15] greghendershott opened #23 "`max-index-items` and `max-post-items` not read from `.frogrc`"
`max-index-items` and `max-post-items` aren't being read from `.frogrc`.

[2013-05-13 22:32] dherman opened #24 "favicon link not using best practices"
According to http://mathiasbynens.be/notes/rel-shortcut-icon and https://twitter.com/mathias/status/332539625375682560 it's best practice not to use `rel="shortcut icon"` but rather `rel="icon"` since only IE requires the "shortcut" but it only supports .ico files anyway. IOW for anyone who wants to offer alternate favicon image types, they should still provide a default /favicon.ico for IE, and u

[2013-05-13 22:33] dherman opened #25 "smart quotes"
This might be hard, but it'd be awesome to support automatic smart quotes.

[2013-05-13 22:36] dherman opened #26 "avoid recompilation based on timestamps"
It'd be great to avoid regenerating files when their dependencies haven't changed. For each markdown file _source_, this would probably need to be based on something like:

max({ lastmodified(file) | file in JS, CSS, { source } })

as compared with the generated HTML file.

[2013-05-13 22:39] dherman opened #27 "directory watching"
Modern web generation tools (like SASS, less, CoffeeScript, Octopress, etc) usually offer some sort of "directory watching" functionality, where you can run the generator in an active mode that automatically detects file changes and regenerates the site. It'd also be great for this to work in conjunction with Issue #26 to only regenerate the changed pages.

[2013-05-13 22:50] greghendershott opened #28 "λ not rendered by Pygments?"
@dherman reports that λ isn't being rendered by Pygments; he's using Pygments 1.6 in case that matters.

I can't repro this myself (at least not with Pygments 1.5).

In markdown like this:

[code]

I get the λ in every case in the HTML output.

[2013-05-14 00:30] #23 closed, assigned to greghendershott

[2013-05-14 01:24] dherman opened #29 "scripts at the bottom"
I'm not sure how much it matters in practice for frog's included JS, which is written by Google and Twitter and probably runs quickly, but it's best practice to put scripts at the bottom of a page body:

http://stevesouders.com/examples/rule-js-bottom.php

Not sure if it works to include boostrap's JS at the bottom (I had trouble finding anything about it from Googling), but I'm pretty sure you ca

[2013-05-14 13:07] #24 closed, assigned to greghendershott

[2013-05-20 03:24] ebzzry opened #30 "meta-data: Missing meta-data"
Relative to commit a4c39d949c56d6ceae17c946962ecca89645c216

The introduction of new `match` rules breaks existing markdown "post" files.

Prior to that commit, a post file would look something like this:

[code]

But the new `match` rules, in frog.rkt can't properly match it, thus raising the error.

[2013-05-20 12:02] #30 closed, assigned to greghendershott

[2013-05-21 21:25] #25 closed, assigned to greghendershott

[2013-05-27 00:51] greghendershott opened #31 "Provide links to old posts, even beyond `max-index-items` limit"
There should be _some_ link, just extremely brief: Title, date, tags.

As pointed out by @dherman

[2013-05-27 18:32] #31 closed, assigned to greghendershott

[2013-05-29 12:30] ebzzry opened #32 "Browser fails to launch on a non-Debian *nix"
The procedure `preview` uses "sensible-browser", presumably to run the web browser. This works quite well on Debian and Debian-based systems. However, it is not universal -- some systems do not use that convention.

[2013-05-29 12:55] ebzzry opened #33 "Unintended buleting"
If a line starts with with two stars (heavy emphasis), it becomes a bullet instead.

This issue may or may not be posted to the markdown parser, instead.

[2013-05-29 14:19] #32 closed, assigned to greghendershott

[2013-05-29 17:41] #33 closed, assigned to greghendershott

[2013-05-31 21:39] #14 closed, assigned to greghendershott

[2013-06-03 12:56] ebzzry opened #38 "Not degrading gracefully when Pygments not installed"
After pulling the latest changes, then running `frog -w`, I noticed that the link to Home is now gone, and instead replaced on the right with the text `/index.html &active-uri-path`. An example is shown [here](http://rmm.meta.ph/test).

[2013-06-03 14:47] greghendershott opened #39 "Navbar item might not get "active" class"
For example if an item in `navbar.md` is:

[code]

Our `match` fails two ways:
1. Assuming the `a` element will _only_ have an `href` attribute.
2. Assuming the contents of the `a` element is a single element (one string).

Make it more flexible in matching and preserving the attributes and elements.

[2013-06-03 14:49] #39 closed, assigned to greghendershott

[2013-06-03 16:44] #38 closed, assigned to greghendershott

[2013-06-03 18:36] greghendershott opened #40 "Provide a way to specify title for non-post pages"
For starters, use the first h1 header in the markdown, such as `# I am a heading` as the page title.

For the future, consider adding "front matter" indented code block like that used for post pages:

[code]

Although for non-post pages it would be optional.

[2013-06-03 18:37] greghendershott opened #41 "Generated HTML5 should use <img /> not <img></img>"

[2013-06-03 20:41] #40 closed, assigned to greghendershott

[2013-06-03 22:08] #41 closed, assigned to nobody

[2013-06-03 22:09] #28 closed, assigned to nobody

[2013-06-16 21:08] greghendershott opened #42 "Add a widget for Pikwik (alternative to Google Analytics)"
[Pikwik](http://piwik.org/) seems like an alternative for people who want an open-source, self-hosted alternative to Google Analytics. It would be nice to have a template widget for this (see `widgets.rkt`).

[2013-06-16 21:14] #29 closed, assigned to nobody

[2013-06-17 20:56] soegaard opened #43 "Feature Request: Scribble Code Blocks"
I know you are fond of Pygments, but a way to render code blocks with Scribble would be nice.

This example is from http://blog.racket-lang.org/2012/04/scribble-your-blogs.html :

![image](https://f.cloud.github.com/assets/461765/664898/8da92bb6-d78f-11e2-9d76-6d0ed478515c.png)

I don't care about the colors as such, but I miss links from the code to the documentation.

[2013-06-23 23:59] #43 closed, assigned to greghendershott

[2013-07-02 16:30] greghendershott opened #45 "Add widget for two-click sharing buttons"
http://panzi.github.io/SocialSharePrivacy/

[2013-07-09 11:24] ebzzry opened #46 "pygments existence"
How exactly does frog determine the existence of pygments? I read in `pygments.rkt`, under the procedure `start-pygments-process`, that it does something to determine the availability of pygments.

Running frog, yields the following:

[code]

[2013-07-10 16:20] ebzzry opened #47 "Missing body text"
I noticed that as of my latest pull, the first two posts does not display the text before the  marker, nor does it display any body of the text. It only shows the title of the post.

I was able to confirm this with my own posts, and with the included `example` directory.

[2013-07-11 00:19] #47 closed, assigned to nobody

[2013-07-11 00:21] #46 closed, assigned to nobody

[2013-07-16 12:29] ebzzry opened #48 "@codeblock text is not using the correct font face"
While using Scribble files, instead of Markdown, I noticed that text using `@codeblock` does not correctly used fixed-width fonts. I tried that, too, with the sample file included and I get the same behavior.

[2013-07-16 20:29] #48 closed, assigned to nobody

[2013-08-29 17:38] #2 closed, assigned to nobody

[2013-09-24 14:17] greghendershott opened #50 "Use ARIA roles"
Make sure the generated HTML uses [ARIA roles](http://www.w3.org/TR/wai-aria/roles) for accessibility.

While the hood is open: Also look for any HTML5 semantic elements that could be used, e.g. `<main>` for the main content `div`.

[2013-09-28 09:44] ebzzry opened #52 "No build happens when there are no non-DRAFT items in _src/posts/"
When no items are found in the directory `_src/posts/`, without the tag `DRAFT`, Frog halts the build process, then displays the message below. That means, at the moment, it becomes mandatory to have a least one "post" page, than can be built, whether it will be used, or not.

[code]

[2013-09-28 17:54] #52 closed, assigned to nobody

[2013-09-29 16:12] ebzzry opened #53 "No build after most recent pull."
The following is what I get when I run `frog -b`:

[code]

[2013-09-30 20:34] #53 closed, assigned to greghendershott

[2013-10-06 05:08] shofetim opened #54 "Specify page location for "all posts" index page"
I would like to generate a site that includes a blog, rather then a site that is a blog. So I would like to have full control over the top level index page, and then have the blog or "all posts" index page at a different url, like /blog/index.html

I think the change would mean a new configuration option in .frogrc,

Default to index.html to keep the existing behavior

[code]

and then use the set

[2013-10-09 03:04] greghendershott opened #56 "Include Racket HEAD in Travis CI build matrix"
As suggested by @samth. A particularly good idea when close to another release of Racket (as now).

Preferably use a nightly build (so that this doesn't become a Travis CI test of building _Racket_, too). For example:

http://www.cs.utah.edu/plt/snapshots/current/installers/racket-5.90.0.9-x86_64-linux-precise.sh

Only hitch is that the version number -- in this case 5.90.0.9 -- is embedded in the

[2013-10-16 01:23] #54 closed, assigned to greghendershott

[2013-11-04 21:03] #56 closed, assigned to nobody

[2013-11-09 03:13] greghendershott opened #58 "Ordered collections of pages that aren't blog posts"
It might be tempting to use Frog for an ordered collection of pages that aren't blog posts. Example applications:
- A presentation (instead of PPT)
- A series of instructional pages on a how-to web site.
- A little photo gallery whizzy-whatcha.

If you're tempted to try, it's a kludgy mess. Sure you could create each slide or page as a blog post. But to order them, you have to give them "dates" ..

[2013-11-10 18:55] Nek opened #59 "Blank line should not be required after closing backticks"
[code]

[2013-11-11 18:25] #59 closed, assigned to greghendershott

[2013-11-12 19:51] ghost opened #60 "Error on raco frog -bp"
Running mac osx Mavericks and Racket 5.3.6 raco frog -bp generates the following error:

list->string: contract violation
  expected: (listof char?)
  given: '((#` #` #`) #\newline)

any help would be gratefully received. A Racket newbie!

[2013-11-13 17:22] #60 closed, assigned to nobody

[2013-11-21 23:41] greghendershott opened #61 ""don't know how to render value: #<procedure:date>""
@shriphani reports: https://gist.github.com/shriphani/7590361

[code]

However I can't reproduce: https://gist.github.com/greghendershott/7591917

In the process of building his blog I did see and fix two other issues:
- https://github.com/greghendershott/markdown/commit/ca5a05a15fb8e74656c3e5cb0907eabbb0bb6481
- https://github.com/greghendershott/frog/commit/fe8d5f6ee9fae4f83902aab511527b4dbddaaa

[2013-11-22 00:05] #61 closed, assigned to nobody

[2013-11-24 05:34] dherman opened #62 "smart quotes in post titles"
Issue 25 added smart quotes in post bodies but not in post titles.

Thanks,
Dave

[2013-11-24 16:03] #62 closed, assigned to nobody

[2013-11-24 17:36] greghendershott opened #63 "Distinct `date` and `tags` variables for post-template.html"
The `date+tags` variable is handy if you like it preformatted that way. But also supply separate `date` and `tags` vars.  Probably `date` should be the date string (as Frog stores it anyway), but `tags` should be a `(listof string?)`, to make it easier for people to do as they like.

Specifically requested by @dherman

[2013-11-24 17:37] greghendershott opened #64 "Add a `index-template.html`"
This would let people customize the appearance of posts as they appear on index pages.

Specifically requested by @dherman.

[2013-11-24 23:22] #63 closed, assigned to greghendershott

[2013-11-24 23:22] #64 closed, assigned to greghendershott

[2013-12-20 23:08] greghendershott opened #65 "Undeclared dependency"
Racket 6:

[code]

[2013-12-20 23:29] #65 closed, assigned to greghendershott

[2013-12-24 01:50] greghendershott opened #66 "Add link rel prev and next elements:"
Add `link` `rel` `prev` and `next` elements:

[code]

[2013-12-28 22:15] #66 closed, assigned to greghendershott

[2014-01-29 17:49] ebzzry opened #67 "Performance"
Prior to my upgrade to 0.11, I was using 0.8.

Earlier, I run my usual build routines with an frog 0.8, and everything went fine. However, when I upgraded to 0.11, then I ran **the same** commands, Frog crawled -- it takes a lot of time to process (the one has says "Reading ..." at the start of build) Markdown files. I found out that it was spending a lot of time with that phase, from the output o

[2014-02-15 14:53] greghendershott opened #69 "Add widget for Send to Kindle"
http://www.amazon.com/gp/sendtokindle/developers/button

[2014-02-15 15:49] greghendershott opened #70 "Parsing HTML can omit spaces"
Issue is actually re the markdown parser, see https://github.com/greghendershott/markdown/issues/36

[2014-02-15 15:53] #70 closed, assigned to nobody

[2014-02-24 23:17] greghendershott opened #72 "Add HTML as a third type of input source file"
# Use case and rationale

A user has a big pile of HTML files from something like Blogger or LiveJournal. The user is willing to add the standard Frog "front matter" to the files (`Title/Date/Tags`), but beyond that doesn't want to edit/change them.

They _could_ give these files a `.md` extension to be parsed as markdown, on the theory that HTML is valid markdown. However:
1. Actually the markdow

[2014-02-25 15:46] #72 closed, assigned to greghendershott

[2014-02-25 16:05] #67 closed, assigned to nobody

[2014-03-07 06:27] wilbowma opened #74 "Clean doesn't clean non-post pages"
I'm moving my website to Frog. I've added several pages as scribble
files in `src/`, e.g., `src/index.scrbl`, `src/papers.scrbl`. I've
changed the blog indexes and posts to be under `/blog`, and left the
output-dir as `.`

When I run `raco frog -c` everything under `/blog`, `/feeds`, and
`/tags` is removed, but none of the html files generated from the
scribble pages are removed. For example, `ind

[2014-03-07 18:18] wilbowma opened #75 "Frog, Scribble, and links with &"
I have a scribble file with a hyperlink with an ampersand, but when the HTML is generated, the ampersand is double-encoded. Here is a minimal example: https://gist.github.com/bluephoenix47/9416813

I thought it was a Scribble problem, but apparently not: https://github.com/plt/racket/issues/577#issuecomment-37023998

[2014-03-09 02:50] #75 closed, assigned to greghendershott

[2014-03-24 16:56] ghost opened #80 "gh-pages"
When doing a git push to gh-pages the site fails to load images text.. Have re-checked paths in .frogrc but either I am being incredibly stupid or have not understood something.
Any help would be appreciated.

[2014-03-25 14:15] #80 closed, assigned to nobody

[2014-04-19 15:23] #10 closed, assigned to nobody

[2014-04-30 00:25] greghendershott opened #82 "Filename not mentioned in error message for missing Title/Date/Tags"
As reported by @jbclements

[2014-04-30 00:26] #82 closed, assigned to greghendershott

[2014-05-15 04:42] balupton opened #83 "Add license file"
Is not clear what license this code is under. MIT license is a great choice.

[2014-05-15 20:07] #83 closed, assigned to nobody

[2014-05-16 00:21] samth opened #84 "Figure out how to be wicked fast"
http://kieranhealy.org/blog/archives/2014/02/24/powered-by-hugo/

Probably frog isn't this fast yet. But it could be! :)

[2014-05-17 18:32] IbnSaeed opened #85 "Add documentation to ReadtheDocs.org"
Hello

I suggest that documentation for frog may be added to readthedocs.org

[2014-06-01 03:30] Ericson2314 opened #86 "Scribble coppies images when rendering"
It appears that Scribble has it's own URL policy which is conflicting with Frogs.

 Using [this site](https://github.com/brownplt/pyret.org/tree/0d40c3ddbe379e0a6a280234648aee88bb9918cf) site as an example:
`src/getting-started/index.scrbl` includes images with a path relative to `.frogrc` (`@image["site/..."]`) This is interesting in itself as the path in `(reqire ...)` must be relative to this f

[2014-06-02 16:44] #86 closed, assigned to nobody

[2014-06-03 18:45] greghendershott opened #87 "When foo.scrbl and foo.html both exist in posts, ignore foo.html"
Since adding support for `.html` sources, there is a potential issue where someone uses DrRacket to write the .scrbl file, and chooses preview, and DrR will create an html file in the posts subdirectory. This won't have the title/date/tag "front matter" for a post, and Frog will barf.  And if it didn't barf, Frog would try to create two posts of the same name, which wouldn't be good either.

Idea

[2014-06-03 20:33] #87 closed, assigned to nobody

[2014-06-14 07:42] dented42 opened #88 "non-post scribble page title"
There doesn't seem to be a way to set the title of a non-post page written in scribble. the @title{} form typesets like a title, but it doesn't have any effect on what appears in the <title> element.

[2014-06-15 02:33] #26 closed, assigned to nobody

[2014-06-15 02:34] #27 closed, assigned to greghendershott

[2014-06-15 02:35] #84 closed, assigned to nobody

[2014-06-17 19:01] #88 closed, assigned to nobody

[2014-06-17 22:45] greghendershott opened #89 "Support sitemap.xml (instead of sitemap.txt)"
Frog currently supports the plain text sitemap format, which is simply a list of URLs.

The [XML format](http://www.sitemaps.org/protocol.html) permits supplying additional, optional attributes for each URL:
- `lastmod`
- `changefreq`
- `priority`

Now that Frog supports minimal rebuilds (issue #84), the last modification date in the local file system is more meaningful. We could supply it for the

[2014-06-26 19:23] IbnSaeed opened #90 "Deploy to OpenShift Paas"
Hello

What are the requirements for deploying frog to openshift

https://www.openshift.com

[2014-07-09 04:52] dented42 opened #91 "Scribble sources: Pygmentize non-Racket code blocks"
There doesn't seem to be a way to have a scribble post that uses pygments to highlight non racket source code. Perhaps if there was a `pygment-code` form could be provided so that people can do something like

[code]

or something similar.

[2014-07-09 13:59] IbnSaeed opened #92 "List of template variables"
Hello

Is there a list of template variables which can be used. or are the ones on in readme that only ones.

[2014-07-09 18:09] #91 closed, assigned to nobody

[2014-07-11 12:58] #92 closed, assigned to nobody

[2014-07-11 12:59] #90 closed, assigned to nobody

[2014-07-11 13:09] #85 closed, assigned to nobody

[2014-08-07 01:24] greghendershott opened #93 "Provide option to hide line numbers with Pygments"
Interim hack work-around: In css/custom.css add `.linenos {display: none;}`.

Currently pipe.py hardcodes:

[code]

It would be nice if .frogrc let you specify the `linenos` value. (Or perhaps generally all the `HtmlFormatter` constructor arguments.)

cc/ @jaor who mentioned this on IRC

[2014-08-12 01:12] #93 closed, assigned to nobody

[2014-08-18 03:19] RenaissanceBug opened #95 "Building fresh site, Racket v6.0.1: rackjure-related error"
I get an error when first trying to build a new site with Frog. This is the procedure I followed:
1. Run `raco pkg install frog`, say yes to dependencies, etc.
2. `mkdir mytestproject; cd mytestproject`
3. `raco frog --init`, verify files were created.
4. `raco frog -bp`, which produces this error:

[code]

This seems to be related to Rackjure, since the offending symbol `'title` is coming from a

[2014-08-18 05:03] #95 closed, assigned to greghendershott

[2014-08-19 04:44] dented42 opened #96 "scribble doesn't cooperate with the <!-- more --> comment"
in Racket 6.1 when I render a scribble based post, the  comment gets rendered literally by scribble as <!– more –>, which is incorrect. Although it is still being processed correctly by frog to cut off post previews at that point.

[2014-08-19 05:32] #96 closed, assigned to nobody

[2014-08-21 08:19] v-nys opened #97 "internal links are either missing or undocumented"
The documentation does not state how internal links (to other posts or media files) can be created.

[2014-09-15 21:47] greghendershott opened #98 "\ instead of / in URLs generated on Windows"
For example, when [this blog](https://github.com/jarcane/jarcane.github.com) is generated on Windows, some of the links are like

[code]

but instead should be

[code]

Although Chrome seems to "fix these up", Firefox does not. Anyway, they are just wrong.

[2014-09-16 19:15] #98 closed, assigned to greghendershott

[2014-09-20 10:16] jarcane opened #100 "raco frog -b/-bp needing to be run repeatedly."
Since the update to 0.21, I've been finding I have to run the build sometimes half a dozen times or more before it actually does the job and gives me the final build.

Instead I get lots and lots of lines that look like this:

[code]

And then it just returns to the prompt, instead of bringing up a preview server. I have to keep running it until it stops giving me those messages until it finally d

[2014-09-21 03:33] #100 closed, assigned to nobody

[2014-09-22 04:36] greghendershott opened #101 "Intermittent "broken pipe" errors due to new method of starting Pygments?"
On IRC tadni mentioned getting the following error, but said it went away after installing Pygments. However, Frog is supposed to gracefully degrade when Pygments isn't installed.  I wonder if this is related to the relatively recent change in https://github.com/greghendershott/frog/pull/94. (Also: Since then, I have rarely seen a similar error from Travis CI. It is intermittent -- it disappears w

[2014-09-22 06:13] ghost opened #102 "Non-/_src/posts/ content will not update, after running "raco frog -bp"."
So, I'm planning on using Frog as the platform for my blog that will chronicle my journey of learning Elisp as a first programming lang, so I suspect that I may be suspect of user error ...

But, after making a skeleton with "raco frog --init" and the having the webserver run and frog populate the rest of the directory with relevant files, using "raco frog -bp" -- I go and try to change something

[2014-09-22 13:29] #97 closed, assigned to nobody

[2014-09-22 16:08] #102 closed, assigned to nobody

[2014-09-28 20:31] jarcane opened #103 "No @|author| field for page-template.html?"
I noticed a post or two back that the author tag on pages was marked merely as "The Unknown Blogger" despite me having set the author field in .frogrc.

Checking page-template.html revealed that the author field there was indeed simply a hardcoded value, but @|author| throws an error on build so clearly that's not the way to fix that. I wound up simply hand-coding my name in there instead.

It see

[2014-09-29 03:07] #103 closed, assigned to nobody

[2014-10-02 20:48] greghendershott opened #104 "Allow post source files _not_ to be named YYYY-MM-DD-slugged-title"
Unless there's some good reason I'm forgetting, for this requirement, eliminate it.

(The `raco frog -n` and `-N` commands could still follow this format to make a default name. But people could change the name.)

As requested by `chandler` on `#racket`, a.k.a. @bmastenbrook. Example use case: Name the post sources with a week number in the file name.

Implementing this _might_ be as simple as rel

[2014-10-10 15:10] greghendershott opened #105 "Support posts "for review" -- that are output but not linked"
Status quo: If a post has the tag `DRAFT` then no output HTML is generated. Otherwise, output HTML is generated _and_ the post is linked to from index and feed pages (and included in sitemap.txt, and so on).

Use case: You want someone else to review a blog post before it's officially published for everyone to discover and read.

Today, you could email them a copy of the .md source file, or, commi

[2014-10-14 15:52] greghendershott opened #106 "Error with fenced code blocks and `<--! more -->`"
@samth on `#racket` IRC reports that a post like this:

[code]

Will cause an error like this:

[code]

[2014-10-17 06:28] cesquivias opened #107 "Support <!-- more --> on RSS feeds"
For long blog posts, the RSS entry is too cumbersome when it displays all the text. Supporting  and introducing a config option in .frogrc would be very helpful.

[2014-10-17 18:50] #107 closed, assigned to nobody

[2014-10-24 17:44] #106 closed, assigned to greghendershott

[2014-11-01 20:02] matthiasbeyer opened #108 "Previewing example: out-of-memory"
Hi,

I just found this and tried it:

[code]

Have I done anything wrong?

[2014-11-03 18:40] #108 closed, assigned to nobody

[2014-11-04 21:05] matthiasbeyer opened #110 "Frog seems to ignore ./css (etc) after destination set to other than ".""
Hi,

I'm experiencing a problem with the css and the other directories. My frogrc says, that the output directory should be `./output`.

I think, the `./css` directory (and the other directories) should be in the root directory, still (next to the rc file). But frog seems to ignore the css file now. Should the css diretory be placed in the `./output` directory, too?

[2014-11-05 06:07] #110 closed, assigned to nobody

[2014-11-14 17:07] greghendershott opened #111 "Timezone problems in feeds"
The general issue is that Frog had been using the `Date:` from posts, which is generally a local time (at least it is when `frog -n` or `frog -N` are used), but then reporting it poorly in both RSS and Atom feeds.
# RSS

In RSS feeds, the time was reported with the correct local time zone. For example `Date: 2014-11-14T12:00:00` was reported as `Fri, 14 Nov 2014 12:00:00 EST`. However, that's "_to

[2014-11-21 12:34] ghost opened #112 "$EDITOR"
When using the command raco frog --edit all that gets returned is :
Frog 0.21
then the path to my .frogrc file.
The environment variable for the Editor is set properly in my .zshrc
Any help would be appreciated.
Thanks

[2014-11-21 19:09] #112 closed, assigned to nobody

[2014-11-21 19:56] #101 closed, assigned to greghendershott

[2014-11-23 06:55] segordon opened #114 "Deployment options from within frog."
Octopress is the comparison used when describing frog, I suggest adding a feature to make the comparison even more true.

I think frog needs an equivalent to `rake deploy`.

For those that have not used it , octopress accepts deployment options from within the project's RC file so that it can build the project and deploy to a web server using a single command, 'rake deploy'.

An equivalent `raco f

[2014-11-23 19:53] #114 closed, assigned to nobody

[2014-12-09 07:16] lamcee opened #115 "The highlight of OCaml code is not pretty as Racket"
Any way to improve it?

[2014-12-09 21:19] #115 closed, assigned to nobody

[2014-12-19 10:10] tfeb opened #116 "Post editing needs to be careful about `$EDITOR`"
I'm using Racket 6.1.1, and a freshly-installed frog.  if I make a completely fresh blog with `raco frog --init` and then `raco frog --edit -n foo` I get a contract violation in `regexp-replace*`.  This turns out to be at least partly because `EDITOR` is not set in my environment (`VISUAL` is though).  I think it should probably check for this and cope somehow (use VISUAL if it is set, else use `e

[2014-12-20 02:21] #116 closed, assigned to nobody

[2014-12-20 21:54] #111 closed, assigned to greghendershott

[2014-12-21 14:07] tfeb opened #119 "Make it easy to support blogs rooted other than at /"
I have an existing site, and I want to use frog to create a blog hanging below a directory in that site, without perturbing the existing structure  So I want to create a structure like
- `<root>/index.html` -- main index
- `<root>/feeds/...` -- feeds

and so on: I want absolutely everything to hang beneath `<root>`.

It is at best painful to do this at present, and I'm not sure it's completely pos

[2014-12-21 19:31] pnwamk opened #120 "bad code indentation in .scrbl posts"
I've noticed if a post is written in markdown, the indentation you gave your code blocks is maintained.

When writing code blocks in a scribble source file, however, the indentation is not respected (either in a racketblock or codeblock). I'm not sure if this is a font issue something else...

For example, an if statement that lines up the three expressions:
![screen shot 2014-12-21 at 2 29 08 pm]

[2014-12-21 21:14] #120 closed, assigned to nobody

[2015-01-08 13:20] cesquivias opened #122 "How to link to another post"
Is there a way to link to other blog posts? Namely, I'm looking for a way to reference other blog posts in markdown by the filename in the _src directory and have frog automatically convert them to the proper <a> tags so they work locally (`raco frog -bp`) and when pushed live.

I'm sure I can take a file like `2015-01-06-blog-post.md` and manually write `[blog post](../../../blog-post)` in a mark

[2015-01-08 13:55] greghendershott commented on #122
This reminds me of part of issue #97, which is closed (so no worries, I wouldn't expect you to be looking through _closed_ issues before filing a new one :)). It sounds like you want something similar to what I described in the [second bullet point here](https://github.com/greghendershott/frog/issues/97#issuecomment-53340823)?

I've been doing it manually for my own blog. I tend to write posts wit

[2015-01-08 19:48] cesquivias commented on #122
I actually tried to look through the old issues, but I don't think I used the right search terms :).

Your suggestion (of having a flat directory) would simplify the linking though I guess it doesn't solve the problem. I'm guessing it would be a pain to modify the markdown parser to add this hook. Would this be more doable in scribble? A simple string-manipulating function would work, no? I've bee

[2015-01-08 20:29] greghendershott commented on #122
Oh, I'm sorry, I actually meant the paragraph _after_ the second bullet, talking about a `frog:` URL scheme:

I think this is simpler because it's independent of markdown parsing and Scribble parsing -- you still specify URLs in the usual way in both formats -- and can be handled at a later stage regardless of the source format.

To be clear, this all `frog:` schemes would be replaced with relativ

[2015-01-10 03:47] cesquivias commented on #122
Ah, yeah a frog: scheme would work. It would make help disambiguate (is that a word) when the author wants to reference a blog post or the actual markdown file.

I'm not sure the proper layout of the URI. Having `frog:some-post-title` would be simple, but having it reference by file starting at the root of the project (e.g., `frog:/_src/posts/2015-01-09-some-blog-post.md`) be still simple for the

[2015-01-10 04:45] greghendershott commented on #122
Oh. Huh, with something like `frog:some-post-title`, I figured brevity was the main value.

Because, if I have to type

    frog:/_src/posts/2015-01-09-some-blog-post.md

I'd rather just keep typing the status quo:

    /blog/2015/01/some-blog-post.html

No?

[2015-01-10 06:07] cesquivias commented on #122
Oh, my main point has been to abstract away the file-renaming logic. This
way an author wouldn't have to worry about how a markdown/scribble file
becomes HTML and where it gets saved. Frog would take care of that. And if
.frogrc is changed to save posts somewhere else the `frog:<file-reference>`
scheme would automatically fix all references.

Brevity wasn't my top concern, but if it's possible to

[2015-01-10 15:30] greghendershott commented on #122
Ah I see. The thing is, it's been drilled into me that "URLs should be permanent". Once I publish something at a URL, I should strive to make it available there forever. (If necessary, I can 30x redirect elsewhere, but that original URL still reaches the resource/content.)  Why? 1. Building "link equity" to increase rank with search engines.  2. Helping the web avoid bit rot.

For example, when I

[2015-01-10 15:31] greghendershott commented on #122
p.s. I feel bad this comment thread is getting long; I generally don't like debating features instead of just adding them. I'm sorry about that and I sincerely do appreciate you taking the time to make the feature request!

[2015-01-11 00:33] cesquivias commented on #122
No problem on taking a while. To be honest, writing out URLs isn't too cumbersome, but it did irk me. I wasn't sure if my proposal was just a personal preference or something others felt was in need in improvement so I'm happy to discuss it even if the feature doesn't materialize. Perhaps it's all the time writing web apps and having functions that handle URLs that makes me feel this way. I've nev

[2015-01-12 02:21] greghendershott commented on #122
I can definitely see the expectation that wiki style links might be how it could work.

I think right now this feels like it would be solving a problem that I don't have in my personal use of Frog. And I guess I'm trying to rationalize that it shouldn't be a big problem for you, either. Because I'm a little worried about the cost of adding this. And I'm just really busy at the moment with other op

[2015-01-13 21:55] greghendershott commented on #119
Thank you for working on this! I wanted to comment and let you know I haven't forgotten about it. I did read through your changes. They seem reasonable and I don't see any obvious problems or omissions. But -- my brain had a cache miss on some of the details of what Frog is doing. :) So, I'll need to find a chunk of time to reload, and to study it more carefully.

[2015-01-14 02:34] tfeb commented on #119
That's fine of course.  For what it's worth I've been using it for a while and it empirically works though this doesn't mean it's actually the right answer! I've been rebasing my branch on master and can push that if/when you want to do a pull (I know push/rebase/push is evil but it can make things easier).

Let me know if/when you want me to make a pull request.

[2015-04-05 07:46] gour opened #123 "support for (more) general-site generator"
Hello,

at the moment I use [Hugo](http://gohugo.io/) static site generator written in Go which is very nice & flexible.

However, I've become interested in Racket, so, naturally, considering whether Frog can replace it.

One nice feature in Hugo is e.g. support for [Taxonomies](http://gohugo.io/taxonomies/overview) or [Shortcodes](http://gohugo.io/extras/shortcodes/), so I wonder if you have plan

[2015-04-05 12:42] greghendershott commented on #123
Good question. The name Frog comes from <b>fr</b>ozen bl<b>og</b>. The goal is "just works" blogging. Otherwise I'd have named it Frite -- <b>fr</b>ozen s<b>ite</b>. :)

I don't have plans to make a general purpose static site generator. If I did, I'd probably start with a fresh design, as I mention [here](https://github.com/greghendershott/frog/issues/58).

Depending on what you want to do, you m

[2015-04-05 13:56] gour commented on #123
OK. I got it. ;)

As vegetarian, I prefer frite over frogs, but stll fresh instead of frozen. :-)

I've it on my list and the author's article has brought me to the Racket, still I've to see whether it can serve the purpose.

Well, that's why I find interesting to use Scribble for writing web content as well.

[2015-04-18 08:09] gour opened #124 "support for live-reload"
Hello,

Do you have any plan to add  support for live-reload feature to the Frog which enables one to start server on *localhost* and see instant changes of the rendered site after adding/changing content?

It's very useful and popular feature in my static site generators...

[2015-04-18 14:20] greghendershott commented on #124
There's a `-w` / `--watch` flag. For example I use `raco frog -bwp` (short for `raco frog --build --watch --preview`).

Does that do what you mean?

[2015-04-18 17:24] greghendershott commented on #124
By the way, this rebuilds the HTML files. However frog doesn't know how to tell your browser to refresh the page (re-read the HTML files). So you'll need to do that manually (unless there's some browser extension for that; but I just refresh manually).

[2015-04-19 07:42] gour commented on #124
Ahh, I missed it. :-(

Kind of...

OK, that's the missing part. :-)

[2015-04-29 17:33] dented42 commented on #74
This is something I found surprising as well. Since my site doesn't end up having any manually written pages, for me having it delete non-post pages is desirable and I ended up writing a `clean` shell script so that I can go `./clean scrub` to remove `index.html`, `about.html` and so on.

Perhaps a solution would be to leave the existing clean option as it is, update the help message to state that

[2015-05-27 19:42] nilgrant opened #127 "Support for page/post generation based on the file extension *.rbl (an alternative name for Scribble files)."

[2015-05-27 19:44] nilgrant commented on #127
Or probably put better by Greg himself, "Treat *.rbl files like *.scrbl files".

[2015-05-28 16:24] greghendershott commented on #127
Thanks for the feature request!

On the one hand, to do this would mostly just change a half-dozen pregexps. I'd feel like I accomplished something for not much work, which is always nice! :)

On the other hand, it feels a little weird to add a file extension alias I haven't heard of.  (Also there's the `-N` (new Scribble post) command. Do I need to make it prompt the user what extension to use, a

[2015-05-28 16:28] #124 closed

[2015-05-28 16:29] #123 closed

[2015-05-29 14:00] nilgrant commented on #127
I'm not exactly sure of your line of thought, regarding the percieved possible need for a prompt and/or a special flag regarding *.rbl files; In that, if we were to treat *.rbl files the 'same' as *.scrbl files, would you just not drop said file (*.rbl) in the same directory you would as a traditional scribble file and the typical flags would automagically generate the relevant output (html+css+wh

[2015-05-29 14:47] greghendershott commented on #127
OK now I understand.  (I'm also old enough to remember CP/M and DOS where it wasn't just preference, it was the law.)

I simply meant that the `-N` flag needs to pick some extension to give the new file.

Today Frog supports reading markdown files with either a `.md` or `.markdown` extension. But the `-n` flag always creates new files with the more-popular extension, `.md`.

Likewise, `-N` would k

[2015-05-30 09:32] nilgrant commented on #127
Ah, okay silly me; I personally don't use Frog in such a way (I just put files in a given dir and put in the build flag, '-b'), but can see how that may be an annoyance to implement tactfully on your end -- if you desired to cover all of those bases, via a sub-flag system (--markdown, --rbl) or similar.

I'm not really sure if you even need to go that far though, if the given/expected functionalit

[2015-06-15 02:56] nilgrant commented on #127
Just wondering, any update on this; And/or how you feel about it one way or the other?

[2015-06-15 17:56] greghendershott commented on #127
I'm not opposed to it. I'd take a PR. Or I'd do it myself, eventually. (Shortly after you opened the issue, I unexpectedly had to travel for a week due to a family issue. I'm catching up.)

[2015-06-19 02:00] systemovich opened #128 "[Disqus] How to change the web site from which more comments are loaded?"
On a post page, on the bottom part of the Disqus section are listed the latest comments from other pages on yahoo.com, which is the site also indicated at the top of the Disqus section. How does one change this to point to the current site?

[2015-06-19 02:43] Kejia opened #129 "rendering math formulas"
it's useful to support rendering math formulas.

[2015-06-19 02:46] Kejia opened #130 "embedding a search interface"
a simple solution is just using the service of big search engines.

[2015-06-19 03:27] systemovich commented on #128
I found the answer!

# On disqus.com

* Login to disqus.com.
* In the top-right corner, click the gear icon.
* In the drop-down menu from the gear icon, click *Add Disqus To Site*.
* Fill in all the required information, then click *Finish registration*.

# In your frog source code

* Open *_src/post-template.html*.
* In the line that reads `@disqus-comments['shortname']`, change *shortname* to th

[2015-06-19 03:27] #128 closed

[2015-06-25 15:26] greghendershott opened #133 "Clean after changing output-dir causes error"
1. `.frogrc:` `output-dir = /tmp/foo`
2. `raco frog -b`
3. `.frogrc:` `output-dir = .`
4. `raco frog -c`

Result:
[code]

Work-around:

The clean will work if you temporarily change `output-dir` back to what it was when the blog was built.

[2015-06-28 02:32] greghendershott commented on #129
Can you help me understand some of the options for doing this?

Have you already tried using [MathJax](http://docs.mathjax.org/en/latest/start.html) on your site?

[2015-06-28 02:34] greghendershott commented on #130
Have you tried adding the code for this in your page-template.html file?

Or were you thinking there should be a handy function for this in widgets.rkt?

[2015-06-28 03:16] WeweTom commented on #129
what options ? I can do sth if you need

[2015-06-28 07:40] soegaard commented on #129
Feel free to steal what you need from:

https://github.com/soegaard/mathbook/blob/master/mathbook/defaults.rkt#L22
https://github.com/soegaard/mathbook/blob/master/mathbook/mathjax.rkt

2015-06-28 5:16 GMT+02:00 WeweTom <notifications@github.com>:

--
--
Jens Axel Søgaard

[2015-06-29 10:40] tfeb commented on #129
I played with doing this with MathJax, and it works reasonably well.  If no-one else has a better I can find the notes I made.  The underlying problem is that I don't think there's a way of telling markdown processors that there's a bit of inline text that they should neither parse *nor* wrap in `<pre>...</pre>` tags (it is easy for block-level elements).  That's a design limitation of markdown I

[2015-06-29 20:01] greghendershott commented on #129
Well frog uses a [markdown parser I wrote](https://github.com/greghendershott/markdown). I could tweak that as necessary.

But to back up, can you give me example(s) of markdown source with MathJax annotations, that could be a problem?

The MathJax docs say:

Do you mean for example that `\( 2 * 3 * 4 \)` might get parsed to `"\( 2 <emph> 3 </emph> 4 \)"`?  Or that `\(x^2)\)` might get parsed as "

[2015-06-29 20:14] soegaard commented on #129
MathJax injects a little piece of JavaScript in the html-page.
At load time it scans through the page and looks for \[ ... \] and \( ... \)
and replaces them with a rendering of the math formula.

The ... between delimeters need to be in standard LaTeX-format.

That is:  It doesn't matter what you use to indicate math-start and
math-end
in the markdown.

/Jens Axel

2015-06-29 22:01 GMT+02:00 Greg

[2015-06-29 20:56] tfeb commented on #129
I am not sure if I have looked at what Frog's parser does, but things like `$$x_y$$` tend to be problematic, as the underscore gets turned into some HTML.

[2015-06-29 21:13] greghendershott commented on #129
Although some examples aren't a problem as I expected, some are:

[code]

[2015-06-29 21:17] soegaard commented on #129
I thought you were going to modify the parser?
Everything between \( and \) needs to be kept as-is.

2015-06-29 23:13 GMT+02:00 Greg Hendershott <notifications@github.com>:

--
--
Jens Axel Søgaard

[2015-06-30 00:42] greghendershott commented on #129
I am. I was just sharing some examples of why it definitely will need to be modified.

Yes. (And also between `\[` and `\]` delimiters, IIUC.)

Also I was sharing that I noticed that `\(` parses to `(`, and `\[` to `[`, and so on.  This already has a meaning in markdown, for example when you want to say that `[]` and `()` are _not_ markdown syntax for links. So probably I'll need to require people

[2015-06-30 07:15] tfeb commented on #129
(I'm currently away from a machine where I can play with frog so this may be wrong or obvious.)

I think there are three things that matter about sections left as-is for MathJax:

- the delimiters need to be intact after the Markdown parser is done so MathJax can find them (so there needs to be, say, a `\(...\)` for it to find);
- there should be two sorts of delimiter pair, for inline and display

[2015-06-30 13:09] samashley commented on #104
I know this is old, but if you're still checking the comments: I think this is a nice idea. I've just discovered Frog and it seems real nice!! Thanks for making it!

[2015-06-30 14:53] samashley opened #134 "how to diagnose errors"
First, thanks for Frog!! I just discovered it. Very nice!

Also I'm new to github so forgive me if this is not the way to ask this but:

When trying to build a blog if something goes wrong where can one get info about the errors that frog/racket encountered???

[2015-06-30 15:09] greghendershott commented on #134
Just a quick reply from phone: Try the --verbose or --very-verbose command
line flags. Does that help? If not, what sort of errors did you mean?
On Jun 30, 2015 10:53 AM, "samashley" <notifications@github.com> wrote:

[2015-06-30 16:04] samashley commented on #134
Thanks for your answer! And I'm a bit embarrassed because I might have thought of that, sorry. But yes, I'll try increasing the verbosity.

Basically what I meant was that on my first try I modified a lot of things throughout the example that was generated with --init but when I tried to build it all I got was a generic web page about the racket server. I must have had a typo in one of the templat

[2015-06-30 16:28] Kejia opened #135 "for tables"
right now i can only use html to generate tables. any other options?

[2015-06-30 19:02] greghendershott commented on #134
I'm going to mark this as closed, but if you're still having confusion about this please feel free to re-open it and comment more.

[2015-06-30 19:02] #134 closed

[2015-06-30 19:07] greghendershott commented on #135
IIRC some markdown flavors have an extension for tables, where you "draw" the table using `+` `-` and `|` chars.

I don't have time to add that to [markdown](https://github.com/greghendershott/markdown) in the very near future.

If more people comment here that they really want this, I would try to get to it sooner.

[2015-06-30 19:22] greghendershott commented on #104
Thanks, that's good to know you'd find this useful, too.

I have limited time this week but will try to take a look at this. (If too much time goes by and you're really missing this, please feel free to comment here again and remind me you still want this.)

Thanks again.

[2015-07-02 13:43] greghendershott commented on #119
Done with #126 and additional commits.

[2015-07-02 13:43] #119 closed

[2015-07-02 13:53] greghendershott commented on #129
Yes, _within_ the MathJax delimiters, in the formula text itself, you can still use single `\`.  The formula text will be parsed as literal text, not as markdown.

But I think I do need to use `\\` on the delimiters themselves, because people may already be using for example `\[foo\]` to mean "I just want brackets, don't try to parse this as a markdown link".

---

After experimenting with using t

[2015-07-02 13:57] greghendershott commented on #129
Although not yet merged to master, it's commit 4a0a156e

[2015-07-02 15:03] #129 closed

[2015-07-02 20:56] tfeb commented on #129
Yes, I am fine with pretty much any delimiter: the thing I care about is that I can take a wodge of TeX and drop it into the bit between them without having to reformat it all (unless it contains `\\]' or something which, while strictly legal TeX, is not something I can ever see occurring in practice).

Thanks for these changes!

[2015-07-03 13:34] khinsen opened #136 "Support ~user style uri-prefix"
I am trying to use frog for a small site that lives in my personal space on some Web server. This means that all URLs (links, image references, ...) must be prefixed with `~username`. I haven't found any way to to this, although there is an undocumented configuration parameter `uri-prefix` that looks promising.

[2015-07-03 14:41] greghendershott commented on #136
That's interesting timing -- this got added literally within the last 24 hours.

Longer discussion here: issue #126.

---

It is discussed near the end of the README: [Embedding a blog in an existing site](https://github.com/greghendershott/frog#embedding-a-blog-in-an-existing-site).

However I notice that I overlooked updating the [.frogrc section of the README](https://github.com/greghendershott

[2015-07-04 08:44] khinsen commented on #136
Thanks for the just-in-time implementation!  ;-)

The documentation is now clear about what `uri-prefix` does. What I don't see yet is how I can use it for solving my problem.

For a site living in my personal Web space, I'd need `uri-prefix = /~user/`. Test: do `raco frog --init`, change `uri-prefix` in `.frogrc`, do `raco frog -bp`. Doesn't work. I'd have to put my files into a directory called

[2015-07-04 16:27] greghendershott commented on #136
Aside from the `~` problem, preview should work well. There's a new `--root` flag to tell the preview web server the root. Which you probably won't need to supply; it defaults to as many parent dirs as there are dirs in `uri-preview`, minus one.

But yeah, `~user` won't work as a local file pathname.  I wonder if the fix could be as simple as Frog deleting the `~` when forming a local path pathnam

[2015-07-06 07:16] khinsen commented on #136
Some form of name-mangling for turning `uri-prefix` into a valid directory name is at the minimum a useful workaround.

[2015-07-06 16:19] greghendershott commented on #136
Could you `mkdir \~user`?

[2015-07-06 16:29] greghendershott commented on #136
That works for me.

For example in your Frog project root dir:

    $ mkdir \~user

In its `.frogrc`:

    uri-prefix = /~user
    output-dir = ~user

That generates what seem to be correct URIs. `raco frog -p` opens automatically at `http://localhost:3000/~user/index.html` where the page is. Links to posts work.

Re images and CSS etc., you would need to update the `page-template.html` file by ha

[2015-07-06 16:34] greghendershott commented on #136
p.s. I'm trying this on Ubuntu. I imagine it would work on OS X, but I'm not sure. Also not sure about Windows.

[2015-07-07 16:09] khinsen commented on #136
Works fine on OS X. And Frog works fine as well: with `uri-prefix = /~user/` and `output-dir = ~user`, I can run the Frog example site just fine. I'll try this on a more realistic site as soon as I can. Thanks a lot!

[2015-07-07 16:35] greghendershott commented on #136
Cool. If it works for you on a realistic site, please let me know; I should update the README with a tip since it's non-obvious.

[2015-07-10 15:40] #136 closed

[2015-07-10 15:41] greghendershott commented on #136
@khinsen I went ahead and updated the README with a tip, and, closed this issue.

If you experience any problems or confusion, please re-open and let me know.

[2015-07-11 09:49] khinsen commented on #136
Quite on the contrary, this works fine. I added another level of convenience in #137, making is straightforward to create relocatable sites. For my application site, I now use `~user` as `uri-prefix` and `public_html` as `output-dir`, running Frog directly on the server.

[2015-07-13 20:39] lehitoskin opened #138 "frogrc option to use scrbl"
There should be an option in the .frogrc file to have frog create a .scrbl instead of a .md when running `raco frog -n "new post title"`.

[2015-07-13 22:02] greghendershott commented on #138
Thank you for making the suggestion.

Actually, using `-N` (capital `N`) creates a Scribble file.

[code]

I'm guessing you just hadn't noticed this, and it will work fine for you. So I'm going to go ahead and close this. (However if I'm misunderstanding please feel free to re-open it.)

[2015-07-13 22:02] #138 closed

[2015-07-14 05:00] lehitoskin commented on #138
Ah, I see. Thanks!

[2015-07-18 23:25] lexi-lambda opened #140 "There should be a way to customize the "read more" link"
I'd like to change the "…more…" link to say something else. Currently, this is hardcoded into the HTML generation, but it would be nice to expose it as a config option or via template so it can be modified.

[2015-07-19 03:26] greghendershott commented on #140
That's a good point.

It would easy enough to make this Yet Another .frogc Variable.  But I think instead it ought to be something you could customize in your `index-template.html` file. If I'd been smart enough to set it up like that in the first place, it would be straightforward. The example template would be something like:

[code]

And you could tweak that. (But instead, there's no `@(when ..

[2015-07-19 12:08] tfeb commented on #140
FWIW I agree with putting it into the template: avoiding a seething mass of what are essentially global variables in the config file is a win.

(I'm only saying this because I spend my working life dealing with people who think that software configured by 300 environment variables is a good design.)

[2015-07-19 17:54] greghendershott commented on #140
My least-worst idea: Add two new template variables for `index-template.html`:

- `contents-only`: The post or blurb. Unlike `contents`, this never has any "..more.." link automatically appended.

- `more-uri`: When `contents-only` is a full post, this is `#f`. Else when `contents-only` is a blurb, this is the URI to the full post. In your `index-template.html` you can do something like:

[code]

[2015-07-19 18:09] greghendershott commented on #140
Actually there's an existing `uri-path` variable, so I think the second new variable should be a boolean `more?`. The template would look like this:

[code]

[2015-07-19 18:33] #140 closed

[2015-07-31 20:11] greghendershott opened #142 "Scribble source with apostrophe in title renders with extra spaces"
As reported by @chandler on `#racket`.

A title like `A Blog's Title` renders in HTML as

[code]
when it ought to be

[code]

Actually this is a problem with anything in the title that requires an HTML entity.

[2015-07-31 20:16] #142 closed

[2015-09-19 18:16] matthiasbeyer opened #145 "Feature request: Custom code"
I'd like to have an option to include custom code, which I can use in my templates then.

[2015-09-19 21:44] greghendershott commented on #145
If I understand your question correctly, you already have this option: The templates are Racket code using at-expressions, in much the same way Scribble documentation files are.

You can even require other Racket modules. Because your template is not evaluated at a module body level, you can't use `require` to do so. However you can use `local-require`.

Does this answer your question? If it does

[2015-09-19 21:56] matthiasbeyer commented on #145
Ah, I can `require` code myself inside templates? Well that solves my issue, thanks a lot for the fast response!

---

Also thank you for frog, I really enjoy using this tool!

[2015-09-19 21:56] #145 closed

[2015-09-19 23:41] greghendershott commented on #145
Yes, just make sure to use `local-require`.

If you have any questions, feel free to ask; maybe open a fresh issue for that.

[2015-09-29 16:39] dertuxmalwieder opened #146 "Feature wish: Add a search function (this is a race ;-))"
Hi,

(sorry, this one will be longish, but I want to make my points clear…,)

having been in the process of transitioning from WordPress to some static (not just flat-file) blog for years now (I’m *really* lazy), I still haven’t settled to which system to use. Actually, I had found one which I thought would be perfect, then I noticed that the provided solution for searching articles was not workin

[2015-09-29 18:36] greghendershott commented on #146
Nice avatar; great album. :)

I think the short answer is that I don't have time to do this myself, but would welcome a pull request.

The longer answer is, I completely understand the need, it's just not clear to me how much of this falls within the mission of Frog per se.  I'd start by presuming people will:

1. Edit `page-template.html` to add the front-end JS for already-invented-good-full-tex

[2015-09-29 18:49] dertuxmalwieder commented on #146
Thank you. ;-)

Well, I don't really speak Racket yet, so I was hoping I could delegate this. But your idea seems reasonable too. Would Sphinx work?

[2015-09-29 19:26] greghendershott commented on #146
I don't know much about full-text indexers. If you know (or could research) some good options, that would be a huge help, regardless of how well you know Racket.

I guess the criteria would be:

- Decent JS front-end UI (in your opinion).
- Frog supports all of Windows, OS/X, and Linux, so indexer should, too.

How is Sphinx in that regard?

---

Also: Google has some search-for-your-site thing, r

[2015-09-29 19:35] dertuxmalwieder commented on #146
Sphinx [runs "everywhere"](http://sphinxsearch.com/downloads/release/), at least on Frog's target platforms. The front-end is to be designed by whoever feels like it, Sphinx "only" provides the server-side stuff.

re Google/DDG: I could use them as a workaround but they have serious drawbacks:

1. Not reliable (uptime): If Google/DDG shuts down or decides to change their API or something, users ca

[2015-09-29 19:52] greghendershott commented on #146
re Google/DDG I understand/empathize. Thanks for articulating why.

re Sphinx:

1. Is there an open-source front-end for it?

2. You said "server-side" but I'm hoping you meant just "back-end"?  What I mean: For a static blog, we'd rather not run an index query server. Instead we want some indexer that produces a static file, that the front-end JS can read/use?  (I should have spelled that out in

[2015-09-29 19:59] dertuxmalwieder commented on #146
re Sphinx (too): Oh, that makes things harder. Generating the index needs some server-side logic (of course) as the indexer would have to actively search through the existing files. I'm not sure if Sphinx supports a "static" (schemaless) data output. Solr does.

Else, there's still [tipue search](http://www.tipue.com/search/), entirely client-side and coded in jQuery. Maybe that's the last resort

[2015-09-29 20:34] greghendershott commented on #146
Well, I'm assuming that most people choosing to use a static blog generator, who don't want to run an HTTP server, would also not want to run some index query server. At least, I'd be in that camp.

I was hoping that one would run the indexer after rebuilding the blog, and it would produce some sort of "database" file(s), that the JS could read and use to do fast queries.

Again I know little abou

[2015-09-29 20:48] dertuxmalwieder commented on #146
How do you want to deploy your generated HTML files without a HTTP server?

I see what you mean. One of the two major reasons why I want to drop WordPress is that its server components are known for nasty security holes. Still, most of the search functions I can imagine could be realized as optional plug-ins/scripts for those who could live with that.

The closest you can have here -- at least if

[2015-09-29 21:33] greghendershott commented on #146
Many (most?) people using static blog generators use an HTTP server someone _else_ is responsible for running 24/7. That's part of the appeal. They push to GitHub Pages, or copy to Amazon S3, or similar.

So, if you're OK with the tipue UI/UX, it looks like Pelican already supports what you want! :)

Generating that kind of JSON would be easy to do in Racket for Frog, as well. I can imagine adding

[2015-09-29 21:34] greghendershott commented on #130
Closing this because discussed in more detail in #146.

[2015-09-29 21:34] #130 closed

[2015-09-29 21:55] dertuxmalwieder commented on #146
Ah, I misunderstood you there, yes.

Pelican is quite wordpressy indeed, even feature-wise. But I don't like Python too much after having used it for a while and I'm not entirely happy with its theming, so I thought I'll push the alternatives a bit.

Thank you a lot!

[2015-09-29 22:33] greghendershott commented on #146
I'm still interested in this, but having looked at tipue more, I'm not so sure about it, specifically. Its content file JSON is just an array of page maps, and the `text` member of each map is just all the text from the page. This seems like it can't be great for speed (or space) especially when a site is big-ish?
(I do know one Frog user with 600 posts, and others with fewer, but long posts.) Alt

[2015-09-29 22:37] dertuxmalwieder commented on #146
Well, if you want to achieve a client-side full-text index, you'll have to deploy that full-text index in a way. [Someone](https://github.com/getpelican/pelican/issues/170#issuecomment-23487327) tested the Tipue performance and he seemed to be impressed though.

Tipue basically works with JSON, yes. That's the main problem with JavaScript-based stuff: JavaScript has horrible data formats.

[2015-09-29 22:55] greghendershott commented on #146
In that issue you linked to (thanks!), [this comment](https://github.com/getpelican/pelican/issues/170#issuecomment-35817014) expresses another concern I have:

That he followed through with [a solution](https://github.com/MTecknology/pelican-search) is awesome -- kudos.

That it requires running your own server, is not awesome (for me).

[2015-09-29 23:28] dertuxmalwieder commented on #146
The "solution" is the aforementioned Sphinx (and I guess it could also work with Solr), yes.

Searching in a static site basically only leaves you with those two options: Simulate a database layer or keep a full-text index anywhere. **But** I guess Tipue's index is not really large, it only contains your pure text. Today's connections probably won't have much trouble with that...?

[2015-09-30 08:00] tfeb commented on #146
I don't think you need to download the whole site, or the text of it, if you are willing to live with some limits.  For instance, if you simply compute and store statically a table which maps from each unique word to a reference to the page it occurs in, then you can fetch that table and have some client-side code which then dynamically fetches that page, and searches linearly in it, on the fly.

[2015-09-30 14:53] greghendershott commented on #146
Exactly. That's one of two things I did last night.

Against my better judgment I started reading more about IR. Assume a [positional index like this](http://nlp.stanford.edu/IR-book/html/htmledition/positional-indexes-1.html). How does JS on a static web site avoid downloading the whole thing? Normally it queries a server, which someone has to maintain 24/7. I suppose that could be AWS Dynamo, bu

[2015-09-30 16:09] dertuxmalwieder commented on #146
Yes, it pretty much does. Google is The Evil!

Seriously, using a Static Site Generator usually means that you want to gain full control over your website and adding third-party components from servers you don't own is *not really* a better and/or more secure idea than running a dynamic server daemon yourself, is it?

[2015-09-30 16:21] greghendershott commented on #146
People do static web sites for different reasons. Some do it for more control, like you. Whereas I'm with The Dead Kennedys, _Give Me Convenience or Give Me Death_. Seriously, if I get into the server-running business my "users" won't be happy about availability and I won't be happy with about fire drills. I do understand the trade-off and have misgivings; I feel slightly ashamed if that makes you

[2015-09-30 16:25] greghendershott commented on #146
Because I feel slightly ashamed I'd gladly use a search system that hosted its database intelligently on Amazon S3, for example. If that doesn't exist, I'd fun that really fun to develop. I just don't have time to, now. I'm already close to over-extended on open source projects.

[2015-09-30 16:25] dertuxmalwieder commented on #146
You could also run Sphinx on Amazon S3, would that validate my point then? ;)

[2015-09-30 16:28] greghendershott commented on #146
I'm sorry if I overlooked that option in the discussion. I'll try to find time to look at that. Thanks for pointing it out.

[2015-09-30 16:51] dertuxmalwieder commented on #146
If there's anything I can help you with, I'm happy to do so. :)

[2015-09-30 17:04] greghendershott commented on #146
Honestly? I'd like a "dummies guide" to Sphinx, specifically how to make some JS front-end access the Sphinx database file(s) from a plain file server like FTP or S3. Whether that exists already, or you write it. It would be great if you could contribute the parts I don't know, and I can contribute what I know about how to integrate things smoothly into the Frog build process.

[2015-10-01 23:23] dertuxmalwieder commented on #146
After reading a bit:

The *database file(s)* need to be [generated](http://cerberusweb.com/book/latest/cookbook/scaling/sphinx.html) first (see the "Indexes" part). Sphinx can even do real-time indexes without a database, according to *the internet*. **However**, having it expose a "human readable" database seems to be undocumented without accessing the Sphinx daemon. Similar to [solr](https://git

[2015-10-02 13:01] tfeb commented on #146
For what it's worth I'm in at least three camps here.

* Static sites are inherently preferable as I can create them using tools and languages which don't make me ill, frog being a good example of that (if JS or Python don't make you ill you *are already ill* and should seek treatment, which may involve a chainsaw), and deploy them essentially anywhere.
* Static sites don't require me to either ru

[2015-10-02 16:15] dertuxmalwieder commented on #146
Python is a very fast and quite reliable way to prototype things although its syntax is... weird. But I don't understand your last point: How does *Googlebook* know more about you when the publicly visible HTML pages are generated dynamically? No one forces you to use Google/Facebook things with WordPress, for example.

[2015-10-02 17:02] tfeb commented on #146
The point I didn't make clearly was that I don't want search to rely on google, or if it does I want it to be easy to disable.

(I have no problem with Python's syntax. I have a number of problems with its semantics which are just inexcusable: if it had been designed in the early 60s I could forgive it, but it wasn't.  But this is very much not the forum to get into a fight about Python (apart fro

[2015-10-15 20:29] greghendershott commented on #105
To be more specific and inclusive about what "not linked in" means.

**Not** included in:

- Any of the index pages for its tags, or the "all posts" index page.
- Any of the feeds for its tags, or the the "all posts" feeds.
- `sitemap.txt`

[2015-10-15 21:38] #105 closed

[2015-10-21 20:47] MTecknology commented on #146
@greghendershott Howdy!

I smiled when I read that. :)

As a follow up to that thread you linked to, I'm considering turning what I built into a hosted service. One caveat is it means trusting my servers to do what I claim they do. My goal, however, is letting people hide the fact that my service is in the mix at all.

Would building this service be a solution to this issue or not so much?

[2015-10-21 20:59] dertuxmalwieder commented on #146
I guess the whole point of a static website is that you can't trust a server if I got it correctly?

[2015-10-21 22:10] greghendershott commented on #146
@MTecknology Hi!

Speaking only for myself, for my personal blog? I don't think so. If I wanted to add search as a service, I'd probably use an existing search provider.  If such a provider served ads, I wouldn't love that but I'd understand that it needs to be paid for, somehow.

Speaking generally? There very well might be a market for such a service.

[2015-10-23 01:06] quantum1423 opened #147 "Feature request: escape to Racket code within pages, not templates"
It would be nice if we could escape to Racket code (like with @) in a Scribble or Markdown page, in the same way we do in templates. That is, I know Scribble allows me to run Racket code, but I want to be able to run a piece of Racket code that generates a (list of) HTML just like in `web-server/templates`.

Would this be possible? It would make certain things a lot nicer: sometimes you want to re

[2015-10-23 02:01] greghendershott commented on #147
If you mean HTML that would need to go in the `<head>` element, I think the short answer is no.

If you mean HTML that goes in the `<body>` element, I think this would be possible. A slightly different story for the two formats:

- Scribble.
  - Of course you can already use at-expressions. :)
  - Frog simply uses the Scribble-generated HTML as-is (well, extracts the main element with your content

[2015-10-23 17:58] quantum1423 commented on #147
It would really be nice if Markdown could be run through template too. It would then be trivial to add support for tables, etc by simply defining a piece of Racket code and then requiring it in the Markdown source.

[2015-10-23 21:33] greghendershott commented on #147
OK I can look at that.

BTW I think it would need to be opt-in, per-post.

Using the moral equivalent of a `#lang` line at the top, or, some new item in the meta-data section.

Because this would be bad if run on existing markdown files containing `@`.

[2015-10-24 17:02] tger commented on #147
I have been looking for something like this as well. Putting your Racket code in a template and testing for the page url is not so nice and not very modular.

[2015-10-24 22:52] greghendershott commented on #147
@tger Just so you know, the proposed feature would only let you vary what goes in the "body" of a page. The `page-template.html` would still control what's around it. Would that still be useful for you?

[2015-10-25 08:27] tger commented on #147
Yes. Since currently page-template.html can not put stuff in the body I think the they would complement each other very well.

[2015-10-25 20:48] quantum1423 commented on #147
I just want to write "macros" (Racket functions) for things like "a picture with a caption", "interlinear gloss", "youtube embed", and things like that. The hack I'm currently working with is to use HTML and an empty div tag with a certain class, which JavaScript then finds and replaces it at "runtime", but it would be *much* better if this sort of task could be done at render-time.

[2015-10-26 15:41] greghendershott commented on #147
I'd written:

Thinking about this more: It definitely needs to be "opt-in". But instead of this being done via meta-data or the moral equivalent of a `#lang` line -- I think it should use a unique file extension: say `.mdt` instead of `.md`.

Why:

1. This is better than something in the meta-data section, because I could make it work for non-post markdown sources, too. (Those lack any meta-data s

[2015-10-26 16:45] greghendershott commented on #147
I pushed a commit only on a new `markdown-template` branch, for now. Mainly I wanted to give you a chance to see the code, and give Travis CI a crack at it. (Although I don't necessarily expect you to futz with using that branch from source, you're welcome to do that, too.)

[2015-10-28 03:17] greghendershott commented on #147
Actually I may defer this. There are still corner cases I don't like.

I checked out [the relevant section of the CommonMark spec](http://spec.commonmark.org/0.22/#emphasis-and-strong-emphasis), which goes into rather mind-numbing (but valid) detail. The 12 rules -- and 5 more rules to handle when the first 12 are ambiguous -- are probably the right thing to do, I just don't have time right now to

[2015-10-28 03:18] greghendershott commented on #147
I posted a comment to the wrong repo/issue. If you got email notified before I deleted it, sorry for the confusion.

[2015-11-01 15:19] greghendershott commented on #147
@quantum1423 @tger Although there's no rush (for me), I won't merge to master until/unless I hear back from you.

[Why: 1. Prefer to add only features someone will actually need/use. 2. The doc should be improved; happy to do so, but only if/as needed.]

[2015-11-01 17:51] tger commented on #147
No rush for me either but ready when you are.

[2015-11-02 15:07] greghendershott commented on #147
As long as I had "the hood open", I took some time to reorganize and improve the documentation generally. Merged.

[2015-11-02 15:07] #147 closed

[2015-11-02 15:08] greghendershott commented on #147
p.s. Typically it may take an hour for the Racket package server to notice the change and refresh, so that `raco pkg update frog` will have this for you.

[2015-11-02 15:09] greghendershott commented on #147
p.p.s. Thank you for the feature idea @quantum1423 and for your input @tger.

[2015-11-02 15:14] greghendershott commented on #147
@quantum1423 wrote:

Those sound really useful! I'd be very happy to take pull request(s) if you had the time and inclination to add any of these to [`widgets.rkt`](https://github.com/greghendershott/frog/blob/markdown-template/frog/widgets.rkt).

[2015-11-27 13:54] greghendershott commented on #135
Update: There's a pull request underway for this in the markdown library used by Frog: https://github.com/greghendershott/markdown/pull/56

[2016-01-02 13:22] ismailadegbenga opened #148 "Feature request: Support for .org documents"
Is it possible for frog to support org documents?
I need this feature to transition from my current setup where my source documents are .org files
I will appreciate pointers in the right direction to implement this if it's not your priority right now.
Thanks.

[2016-01-07 15:43] LeifAndersen opened #149 "Not rebuilding static pages"
It seems like frog is not rebuilding static pages unless I delete the previously generated html. The command I am running to create the page is:

    raco frog -b

[2016-01-08 02:48] greghendershott commented on #149
Thanks for the report. I've been really tapped out at work lately and it may take me awhile to investigate this.

[2016-01-08 04:28] LeifAndersen commented on #149
No worries. Thank you for making frog.

[2016-01-17 16:59] logc opened #151 "RSS feed shows "example.com" links"
RSS feed shows "example.com" links even though `.frogrc` is configured with

    scheme/host = http://<some_other_url>

This happened on a blog that was already generated with Frog and the "example.com" issue was brought to my attention only after deploying it. I had to reinstall Frog (because I had moved from Racket 6.2 to 6.3), deleted the generated `feeds` directory, and re-built the blog with

[2016-01-22 10:08] tger opened #152 "Markdown parser does not allow images with spaces in filename"
Would be nice to allow quoting of image filename paths, like so:

    ![caption]("/img/filename with spaces.jpg" "optional title")

Or even better, skip the quotes (the optional title could be identified by looking for opening quote):

    ![caption](/img/filename with spaces.jpg "optional title")

This is probably a Markdown parser issue and adressing this would perhaps be incompatible with the "

[2016-01-22 18:05] greghendershott commented on #152
The markdown syntax for this is to use `<` and `>` as delimiters.

As it happens, an issue with this was just fixed: https://github.com/greghendershott/markdown/issues/60

If that's not working for you in Frog, then it's because I haven't yet bumped the markdown version number, and also updated Frog to require that newer version. So `raco pkg update frog` might not pick up the bug fix. Instead ple

[2016-01-23 23:02] tger commented on #152
It seems to work if there is no optional title..

[2016-01-25 02:28] greghendershott commented on #152
I'm sorry but I don't understand what you mean by "it" -- using the `<` and `>` delimiters?

I added [test cases](https://github.com/greghendershott/markdown/blob/master/markdown/test.rkt#L969-L987) for the optional title present, and not; both pass:

[code]

[2016-01-25 02:34] #152 closed

[2016-01-25 02:41] greghendershott commented on #152
I just updated both the markdown and frog packages, and closed the issue via one of those commits.

However please let me know if it is not working as you expect, after doing a `raco pkg update frog`.

[2016-01-25 02:53] greghendershott commented on #148
I'm sorry to be so slow to reply to this; I've been swamped the last few weeks.

I won't be able to add this feature in the foreseeable future.

[2016-01-26 11:35] tger commented on #152
By "it" I meant using the delimiters, yes.

After updating again it also seems to work with the title, great!

[2016-02-15 20:04] ElijahCaine opened #153 "Feature Request: Support for reStructuredText documents"
I write a lot of restructured text documents. I really like frog but was curious how difficult it'd be to add support to RST documents.

Is there a reason there isn't support for rst documents? I can grok that if that's the case.

I haven't ever written any racket but I'd be up for trying to implement it myself if I find the time and nobody else wants to do it.

[2016-02-15 21:27] ElijahCaine commented on #153
Upon further inspection I realized there is no reStructuredText library for racket. That's a good enough reason to not have support for the format as far as I'm concerned.

[2016-02-15 21:27] #153 closed

[2016-02-16 04:18] greghendershott commented on #153
In a similar vein, recently #148 asked for Org format support.

If someone wanted to write parsers for org and rst formats, provided they produce a list of x-expressions in the same style as the markdown parser, it would be fairly simple to wire them up in Frog.

Although it would be fun, I don't have time to do that myself. In fact I'm solely in maintenance mode for Frog itself, lately.

[2016-02-23 00:07] mbutterick opened #154 "does Frog provide a canonical proc for converting title text to permalink stem?"
E.g., `(f "Hello World! I'm Great")` becomes `"hello-world-im-great"`

[2016-02-23 00:09] mbutterick opened #155 "`xexpr->markdown` apparently doesn't convert hyperlinks — why not?"
https://github.com/greghendershott/frog/blob/master/frog/xexpr2text.rkt#L45

Not in the sense of "why isn't this implemented" but rather "is there a reason one cannot easily convert hyperlinks".

[2016-02-23 00:55] mbutterick opened #156 "this file kills frog"
https://github.com/mbutterick/racket-lang-org/blob/master/mb-dev/blog/_src/posts/2012-11-13-contracts-for-object-oriented-programming.md

`raco frog -b` just hangs.

[2016-02-23 00:56] mbutterick commented on #156
Tried to narrow down the source of the error, to no avail.

[2016-02-23 00:59] mbutterick commented on #156
FWIW, this is the only post in a [broader conversion of Blogger posts to Markdown](https://github.com/mbutterick/racket-lang-org/tree/master/mb-dev/blog/_src/posts) that had a problem.

It's possible that the Markdown conversion was incorrect, but the fact that it renders within Github suggests that the Markdown is OK.

[2016-02-23 14:17] greghendershott commented on #156
Thanks for the report. This is likely to be the markdown parser. Although I can't try it hands-on until later, my first guess would be to look at the `>` characters in the quoted blocks -- is the parser getting confused about those?  If so, you could try escaping them, `\>`, as a work-around for now.

[2016-02-23 17:38] greghendershott commented on #155
In general you could easily convert an HTML/xexpr `a` element to a markdown `[label](uri)` link.  The contents of the `a` tag goes in the brackets, and the `herf` attribute in the parens.

If I remember correctly, that `xexpr->markdown` function is really intended as a helper for `xexpr->description`, which in turn is used to make "blurbs". So the fact that it is `provide`d is misleading, as is th

[2016-02-23 17:41] greghendershott commented on #154
Yes, [`our-encode`](https://github.com/greghendershott/frog/blob/13fbe6b079d340a3195d6a1afc70c2832ac7a7e5/frog/util.rkt#L46-L57). A better name might have been `slug`.

[2016-02-23 19:33] #154 closed

[2016-02-24 00:15] mbutterick commented on #156
Close — it seems to be the left bracket that's fouling it up. Changing `<` to `\<` seems to fix it.

[2016-02-25 16:52] david-christiansen opened #157 "Allow absolute URLs in Scribble-generated images"
I'm working on migrating a site to Frog, including archives of old comments. One thing I'd like to do is to allow old Wordpress comments to be archived, and part of that is pointing at the Gravatar. Unfortunately, Frog is rewriting even absolute URIs for images, breaking the Gravatar links.

It seems that the culprit is likely [here](https://github.com/greghendershott/frog/blob/13fbe6b079d340a3195

[2016-02-25 22:46] greghendershott commented on #157
Scribble sources can generate image files. When `scribble` renders to HTML, it puts these image files in a subdirectory of the .html file. We [move them](https://github.com/greghendershott/frog/blob/13fbe6b079d340a3195d6a1afc70c2832ac7a7e5/frog/read-scribble.rkt#L37-L45). The code you linked to is adjusting the URLs accordingly.

[2016-02-25 22:51] greghendershott commented on #157
That's my recollection of the intended purpose of the code. It's likely that your understanding of it is >= mine, today. :)  So if you're motivated to prepare a pull request, I'd be happy to accept it. I think you might be right about distinguishing absolute vs. relative URIs here.

[2016-03-01 18:28] mbutterick opened #158 "how to update `.frogrc`"
I find that when I update a `.frogrc` file, the changes are not always propagated throughout the project (e.g., changes to the structure of permalinks). The only thing that works is to delete the project and start over with `raco frog --init`. Is there some intermediate magic? I assume this is some kind of cache-invalidation problem. I've tried deleting the `.frog` directory, but that just makes f

[2016-03-02 00:17] mbutterick commented on #158
OK, the intermediate magic that worked is manually deleting the `.frog/build` file before doing `raco frog -b`. I don't see this in the docs as a recommended technique so ... I’m hypothesizing that the `.frog/build` file ought to get invalidated when `.frogrc` changes.

[2016-03-02 00:39] greg-at-droit commented on #158
There's a `-c` / `--clean` command-line flag to kill the cache.

The build cache was added relatively late in Frog's development, as opposed to being part of the design from the start. Also I've heard that cache invalidation is one of only two hard things about programming. :)

I'd be grateful to take a pull request to update the README. Or something more ambitious wrt to invalidating some/all of

[2016-03-02 00:40] greghendershott commented on #158
There's a `-c` / `--clean` command-line flag to kill the cache.

The build cache was added relatively late in Frog's development, as opposed to being part of the design from the start. Also I've heard that cache invalidation is one of only two hard things about programming. :)

I'd be grateful to take a pull request to update the README. Or something more ambitious wrt to invalidating some/all of

[2016-03-02 04:24] mbutterick commented on #158
Right on, thanks

[2016-03-02 04:24] #158 closed

[2016-03-02 04:24] mbutterick commented on #155
Agreed

[2016-03-02 04:24] #155 closed

[2016-03-21 21:51] mbutterick opened #159 "what part(s) of Frog would I need to patch to change certain page-generation logic"
Specifically, I would like to:
1. Make an `index.html` that is simply a `post-template.html` populated with the most recent posting.
2. Rename what is currently `index*.html` to `archive.html`.

[2016-03-21 22:09] greghendershott commented on #159
In terms of existing options (not needing to patch code), I think the
closest would be index-full? = true and posts-per-page = 1.

But that's only close. Ish. Not exactly 1. And it would affect all index
pages (including those for tags). And it doesn't even address 2.

​Frog is definitely calibrated more toward just-works than
ultimately-configurable. That met my needs when I started it. A more
Ra

[2016-03-21 22:41] mbutterick commented on #159
FWIW this is for the new `blog.racket-lang.org`. I can see how to do it in Pollen, sure. But I'm pretty close with Frog:

[Post page](http://mbutterick.github.io/racket-lang-org/blog-host/2016/02/racket-v64.html)
[Archive page](http://mbutterick.github.io/racket-lang-org/blog-host/)

Though if you're actively dissuading me from this kind of knob-twisting, I will take the hint ;)

closest would be

[2016-03-21 22:45] mbutterick commented on #159
But, let me look at it a little further. It may be that I can either fully Frogify it or patch it outside of Frog.

[2016-03-22 02:27] greghendershott commented on #159
Definitely not trying to dissuade you. Just really short on time, at the moment.

The new blog design is beautiful!

[2016-03-26 05:19] joelmccracken commented on #148
I wrote an org mode converter for jekyll a while back. You could probably adapt it to your needs.

The Jekyll plugin:
https://github.com/joelmccracken/joelmccracken.github.com/blob/writing/_plugins/org-converter.rb

and the elisp:
https://github.com/joelmccracken/joelmccracken.github.com/blob/writing/_lib/org-convert.el

I haven't written in a while, but IIRC there were a few weird things with the

[2016-03-26 05:21] joelmccracken commented on #104
I just came here and am so glad to see this.

This was always my least favorite thing about Jekyll.

This would be an important feature for me, if I were to start using frog =)

[2016-04-08 01:25] interstar opened #160 "Comment : WordPress import"
Not a bug. But you may be interested.

I hacked a quick script to import my WordPress blog into Frog :

https://github.com/interstar/wordpress-to-frog

[2016-04-21 20:49] wilbowma opened #161 "In Scribble non-post, @racket links to local docs"
When I build a Scribble non-post file, the `@racket` links go to my local docs rather than to doc.racket-lang.org. I know this wasn't the case before, and I can't figure out why it's happening now---frog calls Scribble with `--redirect-main`, so I would expect the links to be correct.

## To reproduce:
[code]

Observe the links to Racket forms in the generated `A-Non-Post-Scribble-Page.html` have

[2016-04-30 21:16] bennn opened #162 "Multiple authors?"
Can frog currently:
- list the author of a blog post on the post
- allow multiple authors (without changing the `.frogrc`)?

If not, I'm thinking I'll use tags like "by John Doe" as a hack. But it would be nice to start posts with:

[code]

(My use case: I'd like to use frog for an "organizational" blog. Most posts will have different authors and I'd like to give each author credit.)

[2016-05-03 12:50] gasche commented on #162
Indeed, I was just looking for the same feature this morning. It would be really nice to have.

[2016-05-04 15:21] gasche commented on #162
So I started sending preliminary commits going in the direction of Author handling (but it's still work-in-progress) at #163, any feedback is welcome.

[2016-08-26 20:11] LeifAndersen opened #165 "No syntax highlighting for scribble posts."
There is no syntax highlighting for posts written in scribble.

In this case we don't even really need pygments to do the highlighting, as scribble's rendering engine can already do syntax highlighting. (Although I don't know how much of that you use and how much of it you re-built.)

But it would be nice to have syntax highlighting in my code when written in scribble.

[2016-09-11 09:14] xuchunyang opened #167 "Setting pygments-linenos? to false breaks racket-doc-link-code?"
Hi!

I am new to frog. I find if I disable Pygments line number, symbols in Markdown racket fenced code will not be rendered as links.

Here is some version info.

[code]

[2016-09-11 19:36] greghendershott commented on #167
You're right. It is [matching on parent HTML elements that will be present only when line numbers mean that the code is nested in a table](https://github.com/greghendershott/frog/blob/137ac9f0b34ef6f57f64f512c83d8fa06ef6480c/frog/enhance-body.rkt#L98-L101). That match expression needs to be changed. Probably by replacing those lines with `,_ ...` -- to allow any HTML elements there. I'll fix.

[2016-09-12 01:36] #167 closed

[2016-09-12 01:37] greghendershott commented on #167
@xuchunyang I pushed a fix. It may take an hour or so for the Racket package server to refresh, then you can [update](https://github.com/greghendershott/frog#updating-frog).

[2016-09-12 02:35] xuchunyang commented on #167
I have updated frog and now it works fine.  Thanks for the fix.

[2016-09-12 15:15] greghendershott commented on #165
I'm not sure I understand. Frog renders Scribble post `.scrbl` files to HTML as usual, then Frog extracts the "body" to use. You get whatever syntax highlighting normally occurs for forms like `racketblock` and `interaction`.

As one really nice example by @soegaard [this source](https://github.com/soegaard/soegaard.github.io/blob/master/_src/posts/2013-06-21-running-man.scrbl) produces [this resu

[2016-09-12 15:20] greghendershott commented on #165
p.s. Make sure you have [a `scribble.css` file](https://github.com/greghendershott/frog/blob/master/example/css/scribble.css).

[2016-10-18 23:29] k4rtik opened #168 "Feeds generated by Frog do not display content on some clients (like Feedly)"
Both RSS and Atom feeds' `content` and `description` tags respectively should not include `<html>` tags in them. See lines https://github.com/greghendershott/frog/blob/master/frog/feeds.rkt#L78 and https://github.com/greghendershott/frog/blob/master/frog/feeds.rkt#L130.

I tried making the changes but couldn't test them locally failing to get `raco` to pick up my local changes. Gave up for lack of

[2016-10-19 19:55] gasche commented on #168
Here is a proposed "use-case" for what kind of people would need instructions in Contributing.md or README, in case that can help to know what to write there:

I want to hack a small thing / implement a feature, I just cloned
the github repository and then what?

to first try frog before deciding to do a modification, I did
that by reading Frog's install instructions and I may not be
familiar with

[2016-10-22 19:28] tger commented on #168
I just contributed a major feature to Frog and I can add such a file documenting the workflow I have been using. Being new to Racket development I was also at a bit of a loss in the beginning so I can see the need for such a text.

[2016-10-23 15:47] tger commented on #168
Here it is: https://github.com/greghendershott/frog/pull/170

[2016-11-12 20:53] interstar opened #172 "Changing output-dir doesn't include blog directory"
If I change output-dir in the .frogrc file, frog largely puts what it generates into the alternative output-dir directory. This includes index.html , index-2.html, the feed subdirectory etc.

But it doesn't seem to put the "blog" directory, containing all the individual posts as separate pages, there. So all the links to full posts are broken.

[2016-11-12 21:30] tfeb commented on #172
I'm not sure (can no longer remember) if this relates to https://github.com/greghendershott/frog/pull/126, but it may well do.  (I feel bad that I originated that PR and can no longer remember the details of it!)

[2016-11-16 13:58] greghendershott commented on #172
Unfortunately I've found it challenging to stay on top of this project lately, due to work commitments.

I will try to look at this within the next several days...

[2016-11-25 22:00] shriram opened #173 "Could .frogrc change the tag used for headings?"
I have in mind a use where the “heading” is not a header per se but much longer text — think an FAQ. The `h2` tag is pretty unsuitable for this. I'd like to be able to configure a different header tag (in fact, maybe no header at all — `em` would do just as well for an FAQ).

[2016-11-25 22:35] tger commented on #173
Is this not a matter of editing `index-template.html`?

[2016-11-30 09:51] tger commented on #173
Shiram, does the above work for you? If so I suggest closing this issue.

[2016-12-14 21:53] logc opened #174 "Accented chars in title lead to 404"
I am using Frog to write my blog in Spanish. I just noticed that if an article title includes accented characters, e.g. 'día', the generated site under `blog/` includes the accented char as part of the subdirectory name, e.g. `blog/2016/11/17/día`.

When this generated site is deployed, the URL to reach the article is correctly url-encoded into `blog/2016/11/17/d%C3%ADa`, but this address leads to

[2016-12-15 21:43] tger commented on #174
My blog is in Swedish so I was running into similiar problems at some point. But in your case may the problem be the coding system of the file system? (either on your developer machine or web server).

I cannot recall how I made this work (I develop on macOS and deploy to Github Pages), but on my blog (see for instance [this](http://vitatummar.se/2016/10/bokm%C3%A4ssa-och-tareqs-r%C3%B6dbetsbiffar

[2016-12-15 21:51] logc commented on #174
Thanks for the hint! It may be the case. I write the site on macOS, and
deploy to a Debian server via rsync. I will have a look at your post.

El 15 dic. 2016 10:44 p. m., "Tobias Gerdin" <notifications@github.com>
escribió:

[2016-12-16 09:08] tger commented on #174
Right. I suppose both filesystems support Unicode of some sort. But since you're dealing with diacritics, you may want to make sure that filename string is [Unicode] normalized as well perhaps.

[2016-12-17 22:57] k4rtik commented on #168
Hi @greghendershott, can this issue be closed? I had provided a PR for this earlier: #169, would love to know if that needs more work.

Currently, this is how feeds generated using frog look in Feedly:

![screen shot 2016-12-17 at 17 54 32](https://cloud.githubusercontent.com/assets/374340/21290280/3bf4f58c-c482-11e6-88fc-6280153d4b51.png)

[2016-12-20 12:08] sorawee commented on #165
@LeifAndersen I made a patch that might fix this issue. Can you try and see if it fixes the bug you experienced?

[2016-12-20 20:31] greghendershott commented on #168
Fixed with merge of #169

[2016-12-20 20:31] #168 closed

[2016-12-20 20:52] greghendershott commented on #165
Preface: It's been a couple years since I've worked actively on Frog, so, I'm going to be making mistakes these days.

Case in point: My Sep 12 comment to @LeifAndersen above wasn't helpful. I had actually forgotten about [this way to pygmentize non-Racket code in Scribble docs](https://github.com/greghendershott/frog/issues/91#issuecomment-48512361). @LeifAndersen are you aware of this? Is this w

[2016-12-31 03:26] #165 closed

[2017-01-11 21:08] tger opened #179 "Please help review the Frog responsive images support branch"
Modeled after [Wordpress' responsive image support
](https://make.wordpress.org/core/2015/11/10/responsive-images-in-wordpress-4-4/) I implemented a similiar feature for Frog some time ago. This is pull request [166](https://github.com/greghendershott/frog/pull/166).

Greg is very busy and while he has partially reviewed the code he suggested I asked other Frog users for impressions and code revie

[2017-02-02 08:12] #159 closed

[2017-03-15 21:48] ZelphirKaltstahl opened #182 "Inline verbatim text?"
For me `@verbatim` creates a monospaced `display: block;` element. However, when I simply want to refer to a library or some element of coding in verbatim text in a paragraph, it breaks that paragraph.

Is there a better alternative? I would like to have something monospaced, meant for code, but inline and not block.

[2017-03-15 21:57] greghendershott commented on #182
Maybe [`@tt`](https://docs.racket-lang.org/scribble/base.html#%28def._%28%28lib._scribble%2Fbase..rkt%29._tt%29%29) from `scribble/base`?

Also there are forms from `scribble/manual` for documenting code like `@racket` and `@tech`.

[2017-03-15 22:24] ZelphirKaltstahl commented on #182
`tt` seems to work and I can change the style of it separately by changing the style for `.stt` in the `scribble.css`. Thanks!

It would be nicer, if there was a semantic function name for this kind of style, instead of "teletype", but it works : ) I am curious what the reasoning behind making `verbatim` produce a block element is. Is it thought of like: "There can be a whole block of verbatim tex

[2017-03-15 22:38] ZelphirKaltstahl commented on #182
I figured out something else:

If I simply use `@code`, it becomes a `span` element with class `.RktSym`. It is cleaner in the scribble source code for a blog post, even if the CSS class is weirdly named for non-Racket code. Initially `.RktSym` is not styled, so I added same styling I already had for `.stt` to `.RktSym` instead.

[2017-03-18 15:53] greghendershott commented on #182
When I use Frog myself, I mostly write posts in markdown not scribble. It sounds like you've figured this out and understand it better than me, now, so I'm going to close this. :smile:

[2017-03-18 15:53] #182 closed

[2017-03-22 01:59] #162 closed

[2017-03-22 06:07] gasche commented on #162
Thanks a lot!

[2017-03-24 22:43] wilbowma opened #183 "Using & in MathJax in Markdown incorrectly produces &amp;"
I'm guessing this is actually a bug in the Markdown parser.
Consider the following Markdown code:

[code]

This incorrectly renders as `Programs    amp; P`, since `&` is converted to `&amp;` somewhere along the way.

[2017-03-30 15:07] greghendershott commented on #183
I'll push a new `info.rkt` to bump the required version of the `markdown` package, as soon as the Racket package server has refreshed to have that new version. That should close this issue.

[2017-03-30 15:46] #183 closed

[2017-04-02 05:09] eestrada opened #184 "Add git tags for frog versions"
I would open this as a pull request, but it isn't possible to make pull requests for `git` tags on GitHub.

I figure tags make it easier to diff between versions, do regression testing, or install historical versions of frog (e.g. `raco pkg install https://github.com/greghendershott/frog.git#v0.25`).

In order to integrate this, if you choose to do so, you will need to `git fetch --tags` or `git p

[2017-04-02 17:33] greghendershott commented on #184
I don't know. My first, gut reaction is to avoid this. Working out why I feel that way:

- Although I appreciate you doing the work, now, this will be an extra chore going forward. And just for Frog? Why not also transitively for its dependencies (e.g. markdown, rackjure)? What about deps I don't control?

- This seems to go against the idea of storing data once -- put a value in `version` in `inf

[2017-04-02 19:35] tger commented on #184
For what it's worth, I have the plugin API in the pipe, and when/if that's merged, plugin packages should probably depend on specific Frog version(s) to make the API is available.

[2017-04-02 20:14] greghendershott commented on #184
Editorial warning. :smile:

Generally speaking, I think checking for version numbers is often a kind of "XY question" -- a proxy for what we really care about. Usually, we care whether _specific capabilities_ are available. A good system will let us ask _that_ question directly. (And if the capability is present, great, we use it. If not, we try to degrade gracefully, or, provide an error like "pl

[2017-04-03 11:04] pmatos opened #185 "Target bootstrap4"
As far as I understand, frog is targetting at the moment bootstrap3. Are there any plans to target the latest bootstrap 4?

[2017-04-03 13:40] tger commented on #185
Is it not still in alpha, so perhaps a bit early to make it the default theme? (Having it as an option would definately be good though)

That said, I'm really looking forward to Bootstrap 4, will definately make some things easier.

[2017-04-03 13:44] pmatos commented on #185
True, still in alpha but having said that it would be great to be able to target it maybe with a non-default flag, as you mentioned.

[2017-04-03 13:44] pmatos commented on #185
Oppps, shouldn't have closed it. My mistake.

[2017-04-03 13:46] greghendershott commented on #185
That's a great question.

Very early on, Frog was more of a "just-works", "any color Model T you want, so long as it's black" thing. As a result, the use of Twitter Bootstrap was baked into a fair amount of HTML created directly from Racket code.

Then circa 4 years ago (commit 60c8f3a), it switched to using templates -- the `{page post index}-template}.html` files. That's where Bootstrap-centric

[2017-04-03 14:04] pmatos commented on #185
So, using bootstrap4 should be a matter of updating the examples folder to using bootstrap 4... That sounds interesting. Will give it a go. Maybe adding `raco frog --init --bootstrap4` could be a start if my experiment is successful.

[2017-04-03 14:12] tfeb commented on #185
It would also be really useful to add instructions for anyone with a blog which currently uses 3 on how to migrate to 4: this is probably simple, but `raco frog --init ...` is not the right answer for that case.

[2017-04-03 19:07] pmatos commented on #185
I started with the basic blog and replacing the files in `example/` by the ones you download for `bootstrap4-alpha.6` seems to work out of the box.

[2017-04-03 21:18] tger commented on #184
I totally agree. However, in the case Racket packages `info.rkt` files the only supported attributes to check for are version and platform. Anyway, at worst a plugin would just not be picked up by Frog, you'll see what I have in mind once I send the pull request.

[2017-04-05 03:30] eestrada commented on #184
@greghendershott This is all good food for thought. After chewing on it for bit, I agree with pretty much everything you said.

I agree that the best way forward is probably to bring this up on the Racket mailing list and see if there is someway to get versions mapped to checksum releases working in `raco pkg` and `pkgs.racket-lang.org`. Or maybe I should just code it up, create a pull request, an

[2017-04-07 14:13] greghendershott commented on #185
@pmatos Thank you for trying that!

The example/default `page-template.html` is using what I _think_ are pretty basic Bootstrap classes like `col-md-12`, `container`, `navbar*`, `dropdown*`.

But I don't know if any of those are deprecated in BS4.

[2017-04-07 14:20] greghendershott opened #186 "Move most of README into Scribble documentation"
Why:

- The README is very long.

- IIUC the Racket package server will, in the near future, show an "error" flag on packages with doc build errors (or that lack docs at all).

[2017-04-07 19:52] lehitoskin commented on #186
I think I could help. What sections do you think should stay in the README?

[2017-04-07 20:36] greghendershott commented on #186
Oh that's awesome and thank you so much for volunteering!

But I came here just now, to remove `help-wanted` and assign it to me, because I went ahead I'm a good 2/3 through writing the Scribble.

[2017-04-07 20:46] lehitoskin commented on #186
lol, no worries.

[2017-04-09 00:33] #186 closed

[2017-04-11 06:57] pmatos commented on #185
Yes, there are a few things that look like they are deprecated. I am trying to change appropriately for my new blog so things work and look good. I will post back my changes once I am done.

[2017-04-11 07:32] pmatos opened #187 "Can we have a frog discussion mailing list?"
I actually thought there was one and I was so convinced this was true that I kept digging but found no references to it. I assume there is non, @greghendershott would you be able to create one?

[2017-04-11 17:34] greghendershott commented on #187
If Frog were to need its own mailing list then I'd need a lot more contributors. 😛

Seriously:

- I haven't had much time to keep up with Frog in the last couple years. The last few weeks, I've had an opportunity to do more, but I don't know how long this period will last.
- Generally speaking if someone pings me on IRC or the Racket mailing list about Frog (or racket-mode), I'll ask them to file

[2017-04-11 17:36] greghendershott commented on #185
Sound good!

BTW do you know roughly when BS4 will be released?

[2017-04-12 07:00] pmatos commented on #185
Not really, sorry.

[2017-04-12 07:01] pmatos commented on #187
Fair enough. I understand. Lets close this then. I think then allowing Issues to be questions, might be a good alternative.

[2017-04-12 09:27] krrrcks commented on #187
Yes, sounds like a good plan. Maybe we could use the issues (or the wiki) for "how I did this and that with Frog" as well?

That would be interesting at least for me.

[2017-04-12 10:11] tger commented on #187
To me this sounds overly contrived. There is apparently a need for Frog users to communicate, and apart from the fact that it's different from more or less every other project out there expecting everyone to "watch" the source repository does not seem intuitive to me. I created an issue (#179) to try to reach out to the Frog community and while that feature may be not be that attractive to most Fr

[2017-04-12 11:08] tfeb commented on #187
What proportion of Frog users who want to discuss it are not watching the GH repo?

In my case: I am, but I would be extremely unlikely to subscribe to yet another mailing list because what I care about is changes to Frog which I might need to take account of, and I get to know abotu those by watching the repo.  Others may differ I suppose.

[2017-04-12 11:14] pmatos commented on #187
It really sounded to me like @greghendershott initial suggestion of using issues for questions might work quite well with the small community we have.

The wiki is well suitable for articles like `how to port your frog to bootstrap 4` which I will try to write by this weekend as I should be soon uploading my new website based on frog and bootstrap4.

@tger As for people not commenting on #179 , we

[2017-04-12 12:19] krrrcks commented on #187
Looks like a good idea. I think we can extend the Wiki with Howtos and code snippets (I am going to provide one later).

[2017-04-14 15:39] greghendershott commented on #187
@krrrcks Thanks for [this](https://github.com/greghendershott/frog/wiki/Snippets#show-tags-feeds-in-navigation-bar-depending-on-url).

[2017-04-15 00:18] greghendershott opened #188 "MathJax CDN shutting down"
As pointed out by @wilbowma on `#racket` IRC:

  https://www.mathjax.org/cdn-shutting-down/

Seems the recommended action would be to update [`math-jax` in `widgets.rkt`](https://github.com/greghendershott/frog/blob/master/frog/widgets.rkt#L295-L299) along these lines:

[2017-04-15 00:46] #188 closed

[2017-04-18 23:29] greghendershott opened #189 "Tags metadata should be optional"
That's what [the docs say](http://docs.racket-lang.org/frog/Posts.html#%28part._metadata%29).

Furthermore, fix the finicky parsing: Something like `"Tags:\n"` should be valid -- and mean no tags -- just like `"Tags: \n"`. As reported [on Slacket](https://racket.slack.com/archives/C06V96CKX/p1492550093645372).

[2017-04-18 23:44] #189 closed

[2017-04-20 22:33] wilbowma opened #191 "Feature Discussion: MathJax prerendering"
It feels terrible to watch 30MB of JS slowly load my otherwise static site. Thankfully, with a little bit of nodeJS, one can prerender MathJax and regaining a static page. I've integrated this into my own website, but I'm thinking it would be a neat feature to add to Frog.

I'm considering the following design.
1. Require `mathjax-node-page` to be installed in the Frog project directory. (see http

[2017-04-20 23:42] tger commented on #187
@pmatos See for instance https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images

[2017-04-22 20:21] greghendershott commented on #191
I agree with the goal. Frog is a static generator.

- For syntax highlighting, instead of a run-time JS highlighter, we prefer to use Pygments at build-time. Even though it means people who want syntax-highlighting need to install Pygments.

- For rendering math, it makes sense to have a similar preference. Even though it means people who want that would need to install Node.

- For rendering resp

[2017-04-22 20:46] tger commented on #191
Right, this feature sounds like another good candidate for a plugin, in particular if it depends on Node.js.

`Enhance-body` could be used to find the MathJax  and do the conversion, pretty much in an identical fashion to the Pygments code I reckon.

[2017-04-23 17:58] wilbowma commented on #191
Oh great! I didn't notice the plugin API. I'll start looking at how I could implement this feature as a plugin.

[2017-04-23 18:54] tger commented on #191
It is not merged yet but should be very usable if you want to have a go. Get it from the _plugins_ branch in my Frog repository and let me know how it works for you. There is not much in the way of documentation but there are contracts for exported API bindings. See the _frog-hello_ plugin referenced from #193 on how to get started.

[2017-05-02 23:30] tautologico commented on #174
I ran into this kind of trouble too, developing on OS X and deploying on linux (not using frog though). As @tger commented, it has to do with conventions for representing diacritics, even when both systems are using utf-8. OS X and Linux seem to use different conventions (single character versus character + modifier), so eventually I resorted to developing on my mac and then building the version f

[2017-05-03 09:39] tger commented on #174
Apparently macOS HFS+ does Unicode normalization for you, while on Linux you probably need to do it yourself (could depend on the filesystem). One solution could be to have Frog normalize the filename.

I understand that APFS (Apple's new filesystem) will NOT normalize automatically, which would make the behaviour more in line with Linux (meaning the file system just treats the file name as an arr

[2017-05-07 01:30] greghendershott commented on #174
1. I'm trying to learn about Unicode normalization and understand the correct thing to do, here.

    I see [these four forms](http://www.unicode.org/reports/tr15/#Norm_Forms) and it looks like [Racket provides a function to convert to each](http://docs.racket-lang.org/reference/strings.html#%28def._%28%28quote._~23~25kernel%29._string-normalize-nfd%29%29).

    Does anyone know which of the four

[2017-05-07 13:54] greghendershott commented on #174
Sorry I was a bit sleepy when I wrote that. The URI path _is_ taken from a file name -- but it's the _destination_ file name, which is created by running things through the `permalink` pattern.

Some people want the full title in the URI path because it looks better, and/or (IIRC) because they believe it's helpful for search engine results.

---

Also: AFAIK something like `blog/2016/11/17/día` is

[2017-05-07 20:44] tger commented on #174
HFS+ apparently uses a modified form of Form  D (see https://en.wikipedia.org/wiki/HFS_Plus). So using that may solve the problem for people developing on macOS and deploying on Linux. Not sure if this is a good solution though.

[2017-05-07 21:13] greghendershott commented on #174
@tger Thank you for the information!

@logc By the way, I mentioned the `permalink` pattern -- in your `.frogrc`:

[code]

Note the `{filename}` option. In other words, you could change this from the default using `{title}` to instead use `{filename}`. Like say `/blog/{year}/{month}/{day}/{filename}/index.html`.

I think this would let you use the work-around you asked about originally:

I'm sorry

[2017-05-11 13:55] greghendershott commented on #174
I've been learning/thinking/working on this. Currently I think the right things to do are:

1. Normalize (to NFD) the filenames generated by Frog -- or at least the portion of the filenames that originates from a post title (via the `{title}` portion of a perma-link pattern).

2. Percent-encode all the path segments in URIs generated by Frog. So for example `http:/example.com/blog/2016/11/17/día`

[2017-05-11 19:11] tger commented on #174
I have some code in responsive image support that does that:

    (require net/uri-codec)

    ;; URI encode path to handle spaces and non-ascii characters
    (define (uri-encode-path path)
      ;; (absolute-path? . -> . path?)
      (let ([ps (for/list ([ps (explode-path path)])
                  (uri-path-segment-encode (path->string ps)))])
        (apply build-path "/" (cdr ps))))

It is use

[2017-05-12 17:38] greghendershott commented on #174
@tger Maybe we could open a fresh issue to discuss that since it's mostly OT for this? But: `frog/paths` and `frog/params` may be `require`d by the user's `frog.rkt` -- and by your "extension" package. You'll have access to the functions and parameters. Note that because frog `require`s the user's `frog.rkt` which in turn `require`s your extension, all these modules will share the same instance of

[2017-05-12 21:24] LeifAndersen opened #195 "Other repos currently using xexpr2text"
Other repos (namely http://github.com/racket/racket-lang-org ) are currently using your frog/xexpr2text module, which you have recently moved to the `private` folder.

Perhaps it will be worthwhile to either make a 'public' version of frog/xexpr2text, or split the functionality out into another module (like the xml package itself.) Just a thought anyway.

[2017-05-13 00:32] greghendershott commented on #195
Ouch. Sorry. Until this recent change, where users' `frog.rkt` can `require` certain Frog modules, I considered Frog to be an application -- not a library. So I _thought_ I was being very responsible to sort out public vs. private, now. I didn't realize some people thought the whole thing was public, already. 😞

ISTR `xexpr2txt` as some an ad hoc code that just (barely) does what Frog needs. Not s

[2017-05-17 20:36] #174 closed

[2017-06-05 18:11] bremner commented on #74
For what it's worth, I too was a bit confuzzled that "raco frog -c" didn't clean up everything generated by "raco frog -b"

[2017-06-09 16:47] bremner opened #196 "CONTRIBUTING.md is out of date"
It refers to frog/frog.rkt, which doesn't exist anymore.   I believe it should be
"racket frog/private/main.rkt"

"raco test  -x -p frog" runs the installed package frog. I think it should be "raco test -x frog"

[2017-06-09 21:38] greghendershott commented on #196
Thanks for pointing this out.

In the time since that was written, I think the better advice become to use `make` for each of these. Something like:

I'll mull over the prose and push a commit.

[2017-07-23 05:49] ghoetker opened #197 "Small error in section 5.4 Template example"
The example refers to code for the file "index-template.rkt".

Based on the rest of the page and what worked when I experimented, I think it should refer to "
"index-template.html". Note the changed file extension.

Frog rocks, by the way. Thanks.

[2017-07-27 21:17] greghendershott commented on #197
Thanks for noticing and pointing that out! I'll push a fix soon.

[2017-07-27 21:37] #197 closed

[2017-07-27 21:40] greghendershott commented on #197
Note: The Racket package server rebuilds documentation daily (usually early morning ET), so <http://docs.racket-lang.org/frog/index.html> might not reflect this for awhile.

[2017-08-12 21:18] greghendershott opened #198 "Complain when pygments not found"
Currently, you'll get a clue when running frog in verbose mode -- but otherwise it will fail silently.

This came up today on `#racket` when lexilambda encountered a change to the Homebrew recipe for Python.  Changing `PATH`, or changing `(syntax-highlight #:python-executable "python2" ....)` in `frog.rkt` may fix it easily. But would be nice for users to be advised more directly that's the sort o

[2017-08-23 17:51] maxsnew opened #199 "Bad Date gives a Contract Error"
If you make a blog post with an invalid date like `2017-04-38T00:00:00` you get an unhelpful contract violation:

[code]

As a user this looked like an internal error in frog to me, because I expect contract errors to mean that internal invariants are broken (i.e., a bug).
A better error would be to report that there was an error in parsing/validating the blog post specifically naming the post tha

[2017-08-24 02:18] greghendershott commented on #199
Good point. Currently there's no input validation on the date, at all -- it's trusted to be valid ISO-8601 format string.

As a result, it's holding onto that string as-is, and blowing up only much later when trying to provide it as a `date` struct to the template.

If you wanted to contribute a fix, it would be probably be around [here](https://github.com/greghendershott/frog/blob/master/frog/pri

[2017-08-24 02:20] #195 closed

[2017-09-01 14:39] greghendershott commented on #199
@maxsnew Were you still interested in contributing a fix, or, should I assign this to myself?

[2017-09-09 18:38] royallthefourth commented on #42
I'm gonna do this

[2017-09-09 21:41] #42 closed

[2017-09-10 12:15] pmatos commented on #185
So, Bootstrap4-beta was released. I have a branch pmatos-bootstrap4 on my fork where I have the initial bootstrap files.

Two interesting notes:
* There is no bootstrap-theme.min.css in bootstrap distro anymore; What do we want to do about this?
* Why don't we use CDN providers instead of having the files as part of frog?

[2017-09-11 13:48] greghendershott commented on #185
The frog docs [say](http://docs.racket-lang.org/frog/Quick_start.html#%28part._.Project_file_tree%29):

And the project tree illustration has these comments for Bootstrap css and js files:

---

Instead we could:

1. Delete all of these Bootstrap css/js files from the Frog repo.
2. Change Frog's [example `page-template.html` file](https://github.com/greghendershott/frog/blob/master/example/_src/pa

[2017-09-11 13:54] greghendershott commented on #185
@pmatos to be clear, I like your suggestion. My comment above is "playing it back" to make sure I understand. Also, trying to be specific about details like deleting Frog's copy of the files, and, exactly which CDN we're talking about.

[2017-09-11 16:20] pmatos commented on #185
@greghendershott tha's exactly what I had in mind. I will do that on my branch and issue a pull request.

[2017-09-14 16:59] hebr3 opened #202 "Code highlighting inside of a <details> tag?"
I am trying to highlight code inside of a detail block. It seems to work fine in github markdown however, frog doesn't seem to do any conversion to the code inside of the details tag.

Do I need to write a custom widget function to do this, or is there a built in function already?

Code
---

`<details>`

` ```racket `
` (define (sqr x) `
`   (* x x)) `
` ``` `

`</details>`

Github markdown
---

<

[2017-09-14 17:34] greghendershott commented on #202
Thanks for reporting. This is almost certainly due to the markdown parser used by frog. But I also wrote that, so I'm not dodging this. I logged [an issue there](https://github.com/greghendershott/markdown/issues/69).

[2017-09-15 16:17] tfeb commented on #185
I would like at least the option of not using a CDN: one of the nice things about frog is that things it generates can be (mostly) self-contained.  if it uses one by default I think there should be instructions on how not do do so.  But I agree that the bootstrap files shouldn't be there.

[2017-09-15 17:36] tfeb commented on #185
Also worth noting: bootstrap 4 seems to have made changes to the navbar which completely break the examples or anything derived from them.  I haven't spent enough time understanding what they've changed though.

[2017-09-16 17:15] hebr3 commented on #202
It would be helpful. As a work around I manually added the tags to the html file after frog did the conversion.

I'm not going to use it in every post so if it would be a hassle you can put it off until later.

[2017-09-17 21:34] #202 closed

[2017-09-17 21:40] greghendershott commented on #202
It looks like the Racket package server has refreshed with this now, so you can [update Frog and its dependencies](http://docs.racket-lang.org/frog/Quick_start.html#%28part._.Updating_.Frog%29): `raco pkg update --update-deps frog`.  (The `--update-deps` will ensure that it fetches the newer `markdown` package, which is the substance of the change.)

[2017-09-17 21:42] greghendershott commented on #202
p.s. That's weird, the GitHub UI is currently saying that I closed this issue, but not showing the link to the commit that closed it. For the record, it was commit fe408659f.

[2017-10-11 05:19] bennn commented on #156
This file also kills frog. I'm not sure why.
If I delete everything after line 332 then frog handles it in 1-3 minutes.

[2017-10-11-test.md.txt](https://github.com/greghendershott/frog/files/1374298/2017-10-11-test.md.txt)

[2017-10-11 14:55] greghendershott commented on #156
Markdown [automatic links](https://daringfireball.net/projects/markdown/syntax#autolink) require a prefix scheme (protocol) like `http:`, `https:`, or `mailto:`.

Various markdown parsers handle `<download.racket-lang.org>` in various ways, but [none treat it like a link](http://johnmacfarlane.net/babelmark2/?text=%3Cdownload.racket-lang.org%3E).

Unfortunately an unmatched open HTML tag is an Ach

[2017-11-06 22:35] takikawa opened #204 "Using `raco frog` in non-frog directory prints internal error"
Here's a minor bug I encountered when I ran `raco frog` by accident in a non-frog project. This command-line interaction illustrates the issue:

[code]

This also writes `frog.rkt` into the directory.

[2017-11-06 23:00] greghendershott commented on #204
Only reading this online, but, this sounds in the same ballpark as PR #203 -- which I'm way behind on reviewing. But possibly that PR might address just the special case of `--help` -- and I should make a fuller fix.

[2017-11-10 19:09] #204 closed

[2017-12-08 15:36] cwebber opened #205 "License?"
I don't see a COPYING file or etc in this repository.  Could you add one?  What's the license?

[2017-12-08 15:38] cwebber commented on #205
I see you have a "license: MIT" button on the README / homepage which is great... but a COPYING file will make it legal.  (And better yet, add copyright headers to files too... but COPYING is most important.)

There are multiple MIT licenses, but I assume you probably mean Expat rather than X11!

[2017-12-08 15:54] greghendershott commented on #205
1. The [`LICENSE` file is down in the `frog` collection directory](https://github.com/greghendershott/frog/blob/master/frog/LICENSE). Why down there? So it's included in what's installed on each machine by `raco pkg frog`.

2. I thought I'd linked to that file from the "license: MIT" "badge" in the README -- so that you'd go to it if you click the badge -- but apparently I overlooked it.  I think

[2017-12-08 17:08] cwebber commented on #205
@greghendershott aha great! Maybe also symlink the LICENSE file to the toplevel of the repo?

[2018-01-23 15:32] greghendershott commented on #185
@sleibrock That would be great.

Hopefully the required changes will turn out to be limited to:
- Files under `example/`.
- [This part of `frog/frog.scrbl`](https://github.com/greghendershott/frog/blob/master/frog/frog.scrbl#L156-L189). (For example if you switch to the CDN, as suggested by @pmatos and described [here](https://github.com/greghendershott/frog/issues/185#issuecomment-328534598)).

I

[2018-01-25 17:52] sleibrock commented on #185
I started working on the Bootstrap conversion, and I'm having a little trouble trying to modify the navbar. In Bootstrap 4, it's not necessary to use a `<ul>` for dropdown menus ([there are examples on this page](https://hackerthemes.com/bootstrap-cheatsheet/#dropdown)).

However, tags are coded in a way that they come with a `<li>` element, which sort of gets in the way of the current Bootstrap 4

[2018-01-25 23:19] greghendershott commented on #185
Thanks!

Probably in `bodies-page.rkt` we should add a new page template variable that supplies the tags as just the `<a>` element (without any `<li>` wrapper like `tags-list-items does). It would be up to the template to wrap these in other element(s). Maybe wrap in no other elements -- IIUC for Bootstrap 4 it's sufficient for them to be just the `<a>` element?

Maybe that new template variable s

[2018-01-26 17:46] sleibrock commented on #185
I just made some more changes so now the default page will look like this:

![screenshot](https://user-images.githubusercontent.com/15330989/35452922-4c03caa4-0296-11e8-8cf9-c5ab782fe623.png)

For the tag links, what I did was create a new template variable called `all-tag-pairs`. I decided to convert the tag list to a list of pairs that looks like `'((tag-name tag-url) ...)`. I pass over a functi

[2018-01-26 19:13] tfeb commented on #185
@sleibrock: I'd be really interested in bootstrap 4 support.  One thing I would care about is that it should be reasonably obvious how to take an existing BS3-based configuration and convert it to a BS4-based one (not, perhaps, automagically, but 'you will need to change these *n* things' would be fine).  I started trying to do this for my own setup, but realised that there were various horrors I

[2018-01-26 19:23] sleibrock commented on #185
@tfeb I'm not certain if there's an "easy" method to convert an existing BS3 Frog install to BS4. I had to change the default `page-template.html` file under `examples/` as well as some of Frog's code just to be able to make my changes. Since Frog won't copy files from directories if a directory exists, then `raco frog --init` will fail, which means it won't be able to copy from the `examples/` di

[2018-01-27 14:49] greghendershott commented on #185
@sleibrock

I think that's fine. Just be sure that the tag URL is what `tag->xexpr` produces using `canonical-uri` and `slug`. And encoded/escaped as an HTML _attribute_. Likewise the tag name needs to be encoded/escaped as HTML _content_ (e.g. `&` => `&amp;`).

All this might nudge you toward the template getting `<a>` element text where all this has been done correctly. But it might not -- I'm o

[2018-02-07 10:20] tfeb commented on #185
@sleibrock About the 'make it easy to convert' what I really meant was that it would be nice if there was a set of instructions of some kind: 'you need to look at the changes you made to x and merge them into new-x but you probably don't need to do y, this thing will be different, that thing is now no longer needed' & so on.  Enough so that, if someone knows what changes they made to a BS3-based b

[2018-02-07 13:36] greghendershott commented on #185
Ideally one of us writes a blog post describing

- changes to `page-template.html`
- new/changed boostrap and jQuery files
- plus a link to such a diff (because the blog post is hosted on a frog blog whose source is in git and which was just updated like this). :smile:

[2018-02-08 14:41] #185 closed

[2018-02-08 14:43] greghendershott commented on #185
Merged. :tada:  Thank you!

[2018-02-08 21:27] sleibrock commented on #185
Hey, I wrote a blog post about the changes and included a few steps for porting an existing project from Bootstrap 3 to 4. You can check it out here.

https://sleibrock.xyz/2018/02/bootstrap-4-and-frog.html

(I might have left out a few additional things like making sure to back up all images too, maybe we can add a wiki page for updating)

[2018-02-08 22:37] greghendershott commented on #185
Thanks! [Tweeted](https://twitter.com/greghendershott/status/961730357086380033).

[2018-02-28 16:27] passthejoe opened #208 "Pygments not working in Windows"
I just installed Racket, then Frog, then Python 3 and Pygments (via pip) in Windows 10, and my generated code snippets are not syntax-highlighted.

Here is what the HTML looks like:

[code]

I think Pygments isn't working right. Python is in my Windows path, and I have checked on Pygments via the command line, but it doesn't seem to be working in Frog. I can see that I'm missing all the tags that

[2018-02-28 22:25] greghendershott commented on #208
I'm not sure, and don't have a Windows setup at-hand right now, but a few ideas:

- At a Racket prompt, what does `(find-executable-path "python")` return -- a path or `#f`?

- If `#f`: In your `frog.rkt`, in the call to [`syntax-highlight`](http://docs.racket-lang.org/frog/body-enhancers.html#%28def._%28%28lib._frog%2Fenhance-body..rkt%29._syntax-highlight%29%29) what if you change the `#:python-

[2018-03-01 05:33] alex-hhh commented on #208
I am using frog on Windows 10 and syntax colorization is working fine.  I didn't do any special setup: I just installed python and pygments and  have the following entry in my frog.rkt:

[code]

[2018-03-01 15:25] passthejoe commented on #208
In the Racket shell, for `(find-executable-path "python")`, I do get `#f`.

For `#:python-executable`, I tried both of these, and neither worked:

`c:/Users/steve/AppData/Local/Programs/Python/Python36/python.exe` (I had to use forward slashes instead of backslashes to get `raco frog -bp` to work)
`python.exe`

The only output from `raco frog --build --very-verbose is:

`Frog 0.29`
`Very verbose m

[2018-03-01 17:51] passthejoe commented on #208
I'm not exactly sure what did it, but I did get it to work! I did add Python to my local path and the system path.

Now I get this in a Racket shell:

[code]

The syntax highlighting now works. Here is what I have in my `frog.rkt`:

[code]

Thanks @greghendershott and @alex-hhh for your help.

[2018-03-01 17:53] passthejoe commented on #208
I don't know if this "helped" or not, but in the windows shell, I navigated to the Python directory, ran the Racket shell from there, and then `(find-executable-path "python.exe") worked. Now it works in all directories. This could just be a *Racket in Windows* quirk.

[2018-03-01 18:08] greghendershott commented on #208
Glad it's working!

1. Part of this sounds like ensuring Windows' PATH is set appropriately when racket/frog/pygments runs. I'm rusty on Windows and don't have any special advice for that; I'm not aware what Racket on Windows quirks there might be.

2. Above I kept saying `python` not `python.exe`. Sorry. That matters. In fact, Frog itself is defaulting `#:python-executable` to `"python"`, always.

[2018-03-01 18:12] greghendershott opened #209 "Default syntax-highlight #:python-executable on Windows"
Arising from #208.

[`syntax-highlight`'s `#:python-executable`](https://github.com/greghendershott/frog/blob/master/frog/enhance-body.rkt#L25) defaults to `"python"`, always. Instead, the default should vary and be `"python.exe"` when on Windows.

Gist of it would be something like `(if (eq? (system-type) 'windows) "python.exe" "python")`.

[2018-03-01 18:12] #208 closed

[2018-03-01 20:06] passthejoe commented on #208
I think this is a Racket thing more than a Frog thing. I think the "secret sauce" is having the executable you are calling in your user's path in Windows. I tried `(find-executable-path "ruby.exe")` and got `#f`. I added the Ruby directory to my user path in Windows, and then I was able to find the path in Racket.

[2018-03-08 01:31] greghendershott opened #210 "Missing trailing slash on some generated URIs"
In `frog.rkt` when the `current-permalink` parameter is set to a value like `"/{year}/{month}/{title}/index.html"
`, the generated URIs should be to `"/{year}/{month}/{title}/"` -- but they lack the trailing `/`.

Although this will still work with some web servers (e.g. when hosting on GitHub pages), some won't because strictly speaking `/path/to/foo/` and `/path/to/foo` are not equivalent.

---

[2018-03-08 02:08] #210 closed, assigned to greghendershott

[2018-03-08 18:11] jbclements opened #211 "fresh post with blank Tag field signals one-time error"
I just blew away my "build" file to rebuild my whole blog in order to get trailing slashes (cf #210 ), and I noticed a funny thing; all of the posts with an empty Tag field generated warnings such as this:

[code]

However, re-running frog made the errors go away, and the posts were built correctly.

Further investigation shows that this error is totally ignorable, and the post gets built fine. Si

[2018-03-08 18:34] jbclements opened #213 "whitespace-only title results in broken behavior"
It turns out that you can make a post with a whitespace-only title. It looks like the existing code then puts the post in the top level for the day. So, for instance, if I have a file called

[code]

That contains the code:

[code]

... (there's about 5 spaces after the Title: tag), it generates the output in

[code]

which definitely my expectations about how frog works.

It would seem to me to b

[2018-03-08 20:27] greghendershott commented on #211
I agree the warning is unnecessary.

[2018-03-08 20:29] greghendershott commented on #213
I agree this isn't good.

I saw you made a PR #212 for #211. Thanks!!

However because both #211 and this are part of the same regexp and validation hairball, I went ahead and tried to address both. I want to review what I did, then push a commit to fix both.

[2018-03-08 21:08] jbclements commented on #213
Sounds good. Many thanks!

[2018-03-08 22:10] #211 closed

[2018-03-08 22:10] #213 closed

[2018-04-03 13:23] #173 closed

[2018-04-17 19:53] LeifAndersen commented on #205
I agree with this. As is, the LICENSE seems to imply that it only applies to the frog subdirectory, which I doubt is your intent. Even just adding a note in the top level directory would probably help. :)

[2018-04-17 20:05] LeifAndersen opened #214 "Feature Idea: Arbitrary Post meta-data"
Right now a post can have metadata for `Title`, `Date`, `Tags`, and `Authors`. This is sufficient for most cases, but sometimes you want additional information in each post.

For example, lets say I wanted to enable comments, but I didn't like using disqus. I could follow this tutorial (http://hydroecology.net/using-github-to-host-blog-comments/), to use github issues to host comments for me. Unfo

[2018-04-17 20:06] LeifAndersen commented on #214
The bit of code is here:

[code]
in `posts.rkt`. It seems like it would theoretically be as easy as just adding all meta-data info to the hash table, rather than just `Title`, Date`, etc.

[2018-04-18 03:45] greghendershott commented on #214
That's a good idea.

The only downside that occurs to me would be the disappearance of `warn`. That is, today you get a helpful warning if you (say) accidentally type `Author:` instead of `Authors:`.

---

p.s. I don't understand this part:

What would be the good way, how would you do it in Scribble?

[2018-04-18 04:04] greghendershott commented on #191
The plugin API instead ended up being, users can [supply an `enhance-body` definition in their `frog.rkt`](http://docs.racket-lang.org/frog/body-enhancers.html) configuration, to munge the content.

(Frog supplies a few common transformations in the `frog/enhance-body` module, but that's just ordinary Racket code -- just functions from/to `(listof xexpr/c)`. You can `require` other Racket code, or

[2018-04-18 16:44] wilbowma commented on #191
No updates yet, and I likely won't find time for this before Jan, given my schedule. (Unless I become suddenly inspired). My current setup, automating things through make, is working well enough for my 1 blog post using mathjax.

[2018-04-18 17:08] soegaard commented on #191
Have you considered KaTeX instead?

It’s used by Khan Academy.

fre. 21. apr. 2017 kl. 00.33 skrev William J. Bowman <
notifications@github.com>:

--
--
Jens Axel Søgaard

[2018-04-18 17:37] wilbowma commented on #191
I have, but my primary concern was static rendering, and I couldn't find any way to get KaTeX to statically render.

[2018-04-18 17:59] LeifAndersen commented on #214
True. Although perhaps that could be configured in the blog's frog.rkt config file? Perhaps something like `enabled meta-tags`?

Okay, so probably not the best way in the world. And I'd have to double check how frog renders scribble files, but what I was thinking was having the template post.html file use a parameter defined in a different racket file, and having the blog post setting that paramet

[2018-04-21 02:44] 11111000000 opened #215 "RacketScript usage in documentation"
Add racketscript to documentation (https://github.com/vishesh/racketscript)

[2018-04-21 03:47] greghendershott commented on #215
I'm not sure what you have in mind. How would people use RacketScript in their Frog-generated blogs? What documentation would Frog need to provide?

[2018-04-21 05:06] 11111000000 commented on #215
Yes, Frog frontend must use RacketScript or urlang or something

[2018-04-21 14:40] greghendershott commented on #215
Why?

[2018-04-22 10:02] 11111000000 commented on #215
it can't?

[2018-04-22 14:30] LeifAndersen commented on #215
That's not an answer. 'Why do _you_ want RacketScript (oor urlang) for the front end?'

[2018-04-23 06:09] 11111000000 commented on #215
because of  s-expressions, macros,  tail call optimization, to share some scheme functions and data structures etc...

[2018-04-23 14:05] greghendershott commented on #215
Unfortunately I still don't understand. So I can't do this myself. But I'll leave this open at least for awhile.

- If someone else understands, and submits a PR with the documentation change? I'd probably merge it.

- Or also: If someone submits a rough draft of the new text, right here on this issue? I can do some English prose editing and Scribble-izing. I just don't know how to write this from

[2018-04-25 13:01] 11111000000 commented on #215
yes, but in practice there is a lot of nuances, for example: hot-reloading, location of the shared resources, bundle injection, minification, etc. I can try myself and describe my experience, but if someone has already done it?

[2018-04-25 14:27] greghendershott commented on #215
@11111000000 Yes, please. That would be great if you try, and describe your experience.

We can take it from there -- depending on your experience, talk about what to do next, and where.

Probably the `page-template.html` that Frog generates for your blog, is where you'd want to `<link>` your js file.  (I _think_ everything thereafter will be specific to RacketScript or Urlang, not Frog. But let's

[2018-04-27 03:08] #198 closed

[2018-04-27 19:06] #199 closed

[2018-04-29 17:28] greghendershott commented on #205
I'm catching up on open issues and about to merge commit 6b0d4dd for this.

The commit adds a link from the MIT License "badge" in `README.md` to the `frog/LICENSE` file.

---

I'm _not_ going to do anything with a symlink because I'm nervous that:

- Symlinks won't work right for Windows users.
- It seems it ought to be a relative symlink -- but a quick search suggests GitHub doesn't like those?

[2018-04-29 17:30] #205 closed

[2018-05-04 15:12] wilbowma opened #216 "Separate docs and lib, please"
Feature request

Maybe most people don't have this issue, but everytime I re/install frog, I hesitate as I look at the dependencies (the docs in particular have pretty heavy dependencies).

[code]

[2018-05-14 20:30] sswatson opened #217 "Syntax highlighting for fenced code in lists"
Fenced code which is indented so as to be associated with a list item does not seem to get syntax highlighting.

[code]
2. My second list item.
[code]

[2018-05-14 21:39] greghendershott commented on #217
Well that's weird. I'm surprised no one (including me) has ever noticed this. I'll try to fix this soon.

[2018-05-14 21:54] greghendershott commented on #217
The markdown library parser is handling these correctly, and producing x-expressions like `(pre ((class "brush: python")) (code () "sum(range(100))")))`.

The problem is Frog's `syntax-highlight` function. It is looking for these only as top-level x-expressions (i.e. what will become direct children of the `<body>` element).

Instead it needs to walk the whole x-expression tree to look for these,

[2018-05-14 22:02] ZelphirKaltstahl commented on #217
I think I once had the same problem and thought it was just me being stupid not realizing this earlier. At that time I read about "* functions" in "The Little Schemer" and it came to me that I needed to use such a thing.

Two links to the code I use:

* https://github.com/ZelphirKaltstahl/racket-markdown-blog/blob/master/blog/utils/list-operations.rkt#L101
* https://github.com/ZelphirKaltstahl/rac

[2018-05-14 23:46] greghendershott commented on #217
@ZelphirKaltstahl Thanks. In terms of my existing code, I _think_ it's a fairly straightforward change: commit 51730d0 -- (a) nest in a named `let` and (b) add a `match` clause to recursively walk child elements.

[2018-05-14 23:56] greghendershott commented on #217
@ZelphirKaltstahl As for https://github.com/greghendershott/markdown/issues/72:

- In the context of Frog: My personal opinion is that if I need a table, I'd rather not write it in HTML or markdown. Instead I'd say, "this blog post would be a good one to write in Scribble format so I can write some Racket code to make the table."

- In the context of the markdown library as its own thing: It's a v

[2018-05-15 01:14] #217 closed

[2018-05-15 01:19] greghendershott commented on #217
@sswatson OK I merged this to `master` and nudged the Racket package server to rescan; it has. You can [update Frog](http://docs.racket-lang.org/frog/Quick_start.html#%28part._.Updating_.Frog%29) to get this. Thank you for reporting this!

[2018-05-16 16:32] sswatson opened #218 "Table of contents for markdown pages"
Is there a convenient way to do a table of contents in a markdown (non-post) page? My first thought was to use a markdown template and call `@tableofcontents[]`, but that function isn't available from `scribble/text`, and calling `require` makes the template renderer complain that requiring can only happen at the top level.

[2018-05-17 13:31] greghendershott commented on #218
Off the top of my head I can't think of a convenient way.

- I have sometimes generated one manually: Observed the `id` values in `h1` etc. elements (Frog generates "slugs" from the content) and typed out the ToC links myself.

- If I had a page long enough to benefit from a table of contents to its own sections, I might author it using Scribble instead of markdown format, and directly use [`table

[2018-05-25 01:46] greghendershott opened #219 "Tests fail on Racket HEAD due to changed error message"
Racket HEAD -- what will become Racket 7 -- supplies a slightly different `exn-message` for `exn:fail:syntax`s about `provide`-ing an identifier that's not defined.

This breaks Frog's feature of rephrasing that error message when using `#lang frog/config` and the user hasn't defined one of `init`, `enhance-body`, or `clean`.

As a result, [our tests of this feature fail](https://travis-ci.org/gre

[2018-05-25 01:59] #219 closed

[2018-05-28 02:20] greghendershott commented on #219
I just noticed that frog is mentioned on racket/racket#2099. The link there -- <https://plt.eecs.northwestern.edu/pkg-build/server/built/test-fail/frog.txt> --  currently gives me 404 Not Found. I think that means this was the issue and that commit 2bc070a did fix it.

[2018-06-21 16:44] sswatson opened #220 "Re-generating index.html"
I'm using Frog for a website with no blog posts, and it seems to take some fiddling to get Frog to re-generate index.html from index-template.html in that case. It doesn't even seem to recompile when index-template.html has been changed, which seems like it would be an easy fix.

[2018-06-21 18:00] greghendershott commented on #220
Does using `--clean` help -- e.g. `raco frog -cb`?

Not only does this delete generated output files like `index.html`, it clears a build cache.

[2018-06-21 18:06] sswatson commented on #220
`raco frog -c` does delete the index.html file, but building afterwards doesn't re-generate it. At least, not for me when I tested it just now. It does re-generate from the Markdown files, though.

[2018-06-21 18:40] greghendershott commented on #220
Well I get an F for reading comprehension because I scanned right past that -- sorry!

I honestly don't know how well Frog will support that, status quo. It's a **fr**ozen bl**og** generator and that assumption is baked into the design in various ways. Apparently this is one.

I'm not opposed to generalizing it. In fact, having at least one person using it that way for real -- like you -- would ma

[2018-06-21 22:13] sswatson commented on #220
Ah, so I can just _have_ an empty blog post and get the appropriate behavior. For some reason I had the impression that I needed to add a new blog post to trigger an index.html re-generate, and that felt a bit tedious/hackish. I'm fine with this solution, and I was able to confirm just now that it works.

I haven't had much trouble using Frog for non-blog purposes. This has been the only real issu

[2018-06-21 22:13] #220 closed

[2018-07-27 00:14] tfeb opened #221 "Bootstrap 4 previous/next links and index page links are broken"
The previous/next links in posts used to be implemented by `older/newer-links`.  This doesn't work for BS4 because everything has changed incompatibly.  The example project has a special extra function to deal with this, in the `post-template.html`: it would be better if `older/newer-links` could deal with it.

Additionally the multiple-index-page stuff looks horrible in BS4, for similar reasons:

[2018-07-30 12:11] tfeb commented on #221
This is related to #207.

[2018-07-31 07:11] tfeb commented on #221
This is resolved by the merge of #222.

[2018-07-31 07:11] #221 closed

[2018-07-31 20:05] jbshirk opened #225 "Update Quick Start instructions for installing Pygments"
I ran into this trouble and thought someone would like to know about it, and how I worked around it. Essentially, ````ez_setup.py```` is deprecated. Evenually, a better way of getting Pygments will be needed.

https://github.com/pypa/setuptools/issues/738#issuecomment-409341311

[2018-07-31 21:50] greghendershott commented on #225
Oh geez that sounds horrible.

I don't know very much about the Python ecosystem. Originally `sudo easy_install --upgrade Pygments` worked (as did `sudo apt-get install python-setuptools` if you didn't already have `easy_install`).

---

Looking at http://pygments.org/ it suggests `pip install Pygments` and links to https://pypi.org/project/Pygments/ which says the same.

I'm not sure how to get `

[2018-07-31 22:03] greghendershott commented on #225
For anyone coming across this issue, who might be hip to Python but not Frog: The status quo documentation this issue about is at [here](http://docs.racket-lang.org/frog/Quick_start.html#%28part._.Installing_.Frog%29). An inline markdown rendering would be:

---

3. Optional: Install Pygments if you want syntax highlighting for fenced code blocks:

        $ sudo easy_install --upgrade Pygments

[2018-08-01 13:31] jbshirk commented on #225
While I was researching this problem, I ran into a lot of advisements that pip is terrible at tracking versions. All of those people recommended avoiding that in favor of just about any other method. I think the shell dump I posted shows that happening.

[2018-08-01 14:48] greghendershott commented on #225
Sorry -- my eyes glazed over a ways into that shell dump.

I asked on Twitter. So far only one suggestion: It was the link above https://pypi.org/project/Pygments/ and they said `pip3` not `pip`.

[2018-08-01 15:04] greghendershott commented on #225
Juggling a lot right now, so overlooked something even more basic.  The second part of the status quo instructions:

    If that fails, try again after installing `easy_install`:

        $ sudo apt-get install python-setuptools

Of course assumes Linux. Won't work on macOS or Windows.

[2018-08-01 15:18] greghendershott commented on #225
Reading [Requirements for Installing Packages](https://packaging.python.org/tutorials/installing-packages/#requirements-for-installing-packages), it seems like there are enough permutations here that we should link to this.

For example, on macOS it seems like it's just not going to work anymore with the OS-provided Python 2.7 -- except maybe jumping through the hoops you did @jbshirk. Instead, th

[2018-08-01 23:27] jab commented on #225
Pip is the right thing to document for installing Python packages. Python (as distributed from python.org) comes with pip as of version 3.4. I believe any popular Linux distribution released within the last few years should have Python 3

[2018-08-01 23:33] jab commented on #225
Pip is the right thing to document for installing Python packages. Python (as distributed from python.org) comes with pip as of several years ago. So for the purposes of documentation that is aimed at people who don't have Python familiarity nor a modern version of Python, the simplest thing to recommend might be to install the latest version Python from python.org (currently 3.7.0). Then it's jus

[2018-08-02 20:04] jbshirk commented on #225
@greghendershott

Least worst is still best at the moment. I didn't mind trying to iron out my pythons (I never use it, except for cases like this). I just don't want people to give up on Frog/Pollen because of that... I love what I think I'll be able to do with it!

You're in better shape than I am. My MBP is 2011 with OSX 10.12.6, which is pushing it with a constantly filling-up 256GB SSD. And y

[2018-08-02 21:42] jbshirk commented on #123
@greghendershott wrote:

https://github.com/mbutterick/pollen/issues/43#issuecomment-410076068

[2018-08-04 08:46] kisaragi-hiu commented on #123
@jbshirk You can use Pollen as a preprocessor before running frog or implement your own blogging utilities in Pollen.

Check out [kisaragi-hiu.com (disclaimer: this is my blog)](https://github.com/kisaragi-hiu/kisaragi-hiu.github.io) for the Pollen preprocessor approach, [mstill.io](https://github.com/malcolmstill/mstill.io) for a simpler blog built in Pollen, or [thenotepad.org](https://github.co

[2018-08-04 16:04] jbshirk commented on #123
thenotepad.org is gold. Thank you!

[2018-08-09 14:27] greghendershott commented on #225
I'm away from real keyboard for awhile but will follow up on this soon. Thanks for the helpful feedback!

[2018-08-13 02:58] #215 closed

[2018-08-13 02:59] #225 closed

[2018-08-13 03:05] greghendershott commented on #225
I updated the instructions. The [hosted docs](http://docs.racket-lang.org/frog/Quick_start.html#%28part._.Installing_.Frog%29) won't update until the pkg build server does its daily thing.

Thanks again @jbshirk for pointing this out, and @jab for the answer!

[2018-08-14 02:11] jbshirk opened #226 "Host Frog over IPFS"
I thought folks might like to know I got this to work:
Hosting Frog on the Interplanetary Filesystem: a serverless, cloudless blog
https://gateway.ipfs.io/ipns/QmZJBQBXX98AuTcoR1HBGdbe5Gph74ZBWSgNemBcqPNv1W/

[2018-08-14 22:25] cwebber opened #227 "Linking to images from Scribble files"
It would be good to be able to link to images in the `img/` directory in Scribble files.  Using `@image` isn't great because Racket copies the image in question into memory and then writes it out again rather than just using what's already there.

I tried doing this using something like:

[code]

I was surprised to find that the outputted html looked like so:

[code]

Why did src get modified?  I

[2018-08-14 22:39] cwebber commented on #227
A thought: I suspect the purpose of rewriting the paths for these elements is for the ones that are generated by `image-element`, in other words the images generated inside Racket, like with pict.  A way to get around this might be to add a mixin to the scribble HTML renderer used by Scribble.  We could override the `render-content` method so that if it sees that this is an image-element, it modif

[2018-08-19 17:41] greghendershott commented on #227
Yes, it's handling the sort of images people generate in Scribble.

(As the comment in `read-scribble.rkt` mentions, I cribbed this from [scriblogify](https://github.com/rmculpepper/scriblogify). I did that many years ago, and haven't given it any thought since.)

That sounds plausible -- although maybe a lot of work.

OR:

Another option might be to follow the example of the `pygment-code` functi

[2018-08-19 17:43] greghendershott commented on #227
p.s. I suppose `frog-raw-image` could instead be the `alt-tag`. That might be simper to `match` on, and instead of deleting just that attribute, all you have to do is replace the `frog-raw-image` tag with the `img` tag.  (Just spitballing here, could be wrong.)

[2018-08-19 21:05] cwebber commented on #227
I'm a-okay with adding a property kludge.

I don't understand what you mean by the alt tag suggestion though... are you suggesting filling in a value in the alt tag that's Frog-related?  I'd rather not do that because the alt tag has an important accessibility purpose that we wouldn't want to strip out (providing an alternate name for the visually impaired).

[2018-08-20 18:01] cwebber commented on #227
Oh I see!  Yes that makes sense.  Sorry, I thought you meant the "alt" property on <img/> :)

[2018-10-08 23:21] dedbox opened #229 "Scribble cross-references to user-scope libraries"
Exports from installation-scope packages link to docs.racket-lang.org, but exports from user-scope packages link to relative paths in the local filesystem.

Given a post in scribble format:

[code]

The links produced are, in order:

http://docs.racket-lang.org/datalog/interop.html#%28def._%28%28lib._datalog%2Fmain..rkt%29._make-theory%29%29

http://docs.racket-lang.org/data/Enumerations.html#%28d

[2018-10-09 03:58] greghendershott commented on #229
Matthew Flatt's message sounds to me like using `--redirect` instead of (or in addition to??) `--redirect-main` might work?  Is that something you could try changing in `private/read-scribble.rkt`?

[2018-10-09 04:11] dedbox commented on #229
Per mflatt's advice, adding `--redirect https://docs.racket-lang.org/local-redirect/` to scribble flags in `frog/private/read-scribble.rkt` pretty much works.

For maybe 1 second before the javascript kicks in, the Redirections page is shown with the following message:

But the redirect does eventually point to the right page in docs.racket-lang.org.

The trailing slash on the --redirect URL is ne

[2018-10-09 04:13] dedbox commented on #229
FTR- I left `--redirect-main` in place, as is.

[2018-10-09 04:19] dedbox commented on #229
For future reference, the local-redirect mechanism is described in section 12.3 of the *Package Management in Racket* doc.

[2018-10-09 14:36] #229 closed

[2018-11-06 08:14] sorawee opened #232 "Switch from scribble/manual to something else"
As I understand, `#lang scribble/manual` is for writing Racket manual. One constraint of `scribble/manual` is that it needs to support multiple formats: pdf, html, etc, so the language necessarily needs to pick a subset of html tags that it wants to support. The consequence is that it's impossible to use unsupported tags, like HTML5 `<aside>`.

I think It doesn't make sense to live under the const

[2018-11-06 08:18] sorawee commented on #232
I guess that's not true. I just saw:

[code]

in one of the issues, so I guess it's possible to use an arbitrary tag.

Is this a good way to do things, though?

[2018-11-06 14:09] greghendershott commented on #232
It's not a _great_ way. I'm open to considering a better way. (But alas no time now myself.)

Although Frog should be "blog topic agnostic", realistically many/most Frog users are writing about programming and frequently about Racket.

As a result, any `scribble/manual` features aiding that, are good to have and we should keep.

It would be nice to have "scribble/manual the good parts, without the

[2018-11-07 12:13] sorawee opened #235 "Requiring in the template is cumbersome"
Say, I want to call `(date->string date-struct)`. However, `date->string` is in `racket/date`, but we can't require it either because template rendering doesn't seem to allow `require`.

A way that I am currently using is:

[code]

which is obviously not ideal.

It would be nice to be able to supply user-custom variables for template rendering.

[2018-11-07 21:48] greghendershott commented on #235
One of the items under "General Template Tips" in the docs is [this](https://docs.racket-lang.org/frog/templates.html#(part._.Use_local-require_in_templates)):

Does that help?

[2018-11-08 01:09] sorawee commented on #235
This addresses my issue. Thanks :)

[2018-11-08 01:09] #235 closed

[2018-11-08 07:03] sorawee commented on #214
I always have a mixed feeling about these metadata. As I use only Scribble (never use Markdown), I would prefer to have something like Pollen's `define-meta` (https://docs.racket-lang.org/pollen/Core.html?q=define-meta#%28form._%28%28lib._pollen%2Fcore..rkt%29._define-meta%29%29) instead of an ad-hoc parsing. For example, `(define-meta k v)` for Frog could translate into the following HTML:

[code

[2018-11-08 07:06] sorawee opened #237 "(Question) rational for mapping section and title to h1?"
I personally think that `title` should map to `h1` and `section` should map to `h2`. What's the rational to map both of them to `h1`?

[2018-11-09 11:55] sorawee opened #239 "add-racket-doc-links doesn't work at non-toplevel"
This is similar to #217.

[2018-11-09 12:14] sorawee commented on #239
Oh, this is actually pretty easy to fix. I will fix it and make it a part of #238, since it's exactly the same code to modify.

[2019-01-04 12:16] toothbrush commented on #214
I have been playing with Frog the last few days, and i, too, would love this sort of feature.  Unfortunately my Racket-fu is super rusty (much embarrassment) and so i've kinda been struggling with trying a few things:

- trying to actually get an HTML comment into the final outputted page so i can regex it out of `@|content|` (i know i know, that's awful) – i haven't managed with Markdown or Scrib

[2019-01-04 13:15] toothbrush opened #240 "Date formatting weirdness"
Hello again, and apologies upfront if this is PEBKAC.

I'm trying to modify the way dates get printed out.  I have seen and read the bit in the tutorial which specifically outlines how to do this: [5.4 Template Example](https://docs.racket-lang.org/frog/templates.html#%28part._.Template_.Example%29).

Inspired, i thought i could use Racket's builtin [`(display-date-format)`](https://docs.racket-la

[2019-01-04 13:32] toothbrush commented on #240
I don't know if this counts as a solution to the weirdness above per se, but it solved my particular niche issue so i thought i'd share it here for anybody else who might stumble across it.

I ended up using a Racket library called [`gregor`](https://docs.racket-lang.org/gregor/index.html) – i created a `date` struct (not to be confused with the `date` from `racket/date`...) and used `gregor`'s fo

[2019-01-04 13:48] sorawee commented on #240
This is Frog's bug. See:

https://github.com/greghendershott/frog/blob/2bc070a60333e1316ff713f9b9b577a7c27e54b3/frog/private/bodies-page.rkt#L172

The right way to do this is to use `find-seconds` rather than construct a `date` object manually. I will submit a PR soon.

[2019-01-04 14:52] #240 closed

[2019-01-04 14:58] greghendershott commented on #240
@sorawee Thanks for the fix!

@toothbrush I nudged the Racket package server to refresh. You can get with `raco pkg update --update-deps frog`.

[2019-01-04 15:00] toothbrush commented on #240
Cool, thank you!  As i understand it, that'll solve the `Sunday` issue, but not the issue where the date format string gets ignored / misinterpreted?

[2019-01-04 15:35] sorawee commented on #240
@toothbrush I think you need to use `date->string` from the `srfi/19` package rather than `racket/date`. Is this what you want?

[code]

[2019-01-05 00:57] toothbrush commented on #240
Ah geez, thanks @sorawee, that's it.  Stupidly i didn't realise that `srfi/19` was its own library.  Done! 🙌

[2019-01-14 12:23] toothbrush opened #243 "Different (current-posts-per-page) for some tags?"
I like the fact that Frog automatically can paginate when there are more than _n_ posts, set with the `current-posts-per-page` parameter.  However, i'd really like to have the default, i.e. 10, posts with stubs on `index.html`, but be able to control whether on `/tags/xyz.html` pages this number might be different.  Bonus points if each tag `xyz` and `foo` can have different values of `current-pos

[2019-01-14 21:40] greghendershott commented on #243
Sorry to be slow to respond. Although I'm still keeping an eye on Frog, I haven't had much time lately to work on it, and don't have much of its code in my brain's L1 cache.

As a result I think hacking your local installation is probably the only option for the foreseeable future. Also I'm being pretty slow about pull requests that aren't simple bug-fixes, because I just haven't much time to thin

[2019-01-15 02:17] toothbrush commented on #243
Don't worry about the slowness, that's fine and understandable 🙂 I don't want to be the person who gets upset because the volunteer who already contributed a bunch of super useful software to the community isn't on 24/7 call 😄

I'll continue hacking my own installation then, with the risk of it diverging a bit from yours.  That's fine though – after an initial period of teething issues i'm beginni

[2019-01-15 03:21] greghendershott commented on #243
Let's leave it open; I already tagged it as `enhancement`. :smile:

[2019-01-31 08:22] pmatos opened #244 "No index page generation without non-draft posts"
This is similar to #52 except there's no error when there are no non-draft posts. Pages are generated but `index.html` is not.

[2019-02-04 00:32] jwgarber opened #245 "Undefined Tag to "Gotchas""
When installing frog, there is an undefined Scribble tag to the `web-server` module.

[code]

It looks like in [7.2](https://github.com/racket/web-server/commit/b8767ef18cf18eca4fe71a6f2536c378e98eebb3?diff=unified) the old Gotcha's section was split into two: [Gotchas: @ Syntax: @ character, identifiers, and spaces](https://docs.racket-lang.org/web-server/templates.html#%28part._.Gotchas____.Synt

[2019-02-06 11:42] toothbrush opened #247 "Unicode URL slug gotcha"
I ran into an interesting bug today (not actually a bug with Frog, but a gotcha i thought was worth mentioning here).  I have a post with a title, for example `malgré`.  There's a bit of code

https://github.com/greghendershott/frog/blob/master/frog/paths.rkt#L308-L311

that normalises slugs.  It's quite permissive in what it allows (anything which passes [`char-alphabetic?`](https://docs.racket-l

[2019-02-06 12:35] greghendershott commented on #247
Did you see #174, and if so, is it relevant?

(I'm not asking a rhetorical question. It's genuine. That was a couple years ago and the details are long gone from my L1 or L2 cache.)

[2019-02-06 12:54] toothbrush commented on #247
I hadn't seen #174, although i did a cursory search before hitting Submit.  It looks like it might be the same issue, but it's tired here and i'm late, so i'll think about this in a background process.

(and this is severely off-topic, but i wanted to say: much respect for your work on / ideals behind
https://deals.extramaze.com/!)

[2019-02-06 13:24] greghendershott commented on #247
:smile:

[2019-02-16 21:05] andybp85 opened #248 "License status question"
I see this MIT button, but the license says "All rights reserved". So, wondering if forking Frog is okay?

Full disclosure, I've already forked it and did a bunch of work for how I'd like my blog and workflow set up: [GFrog](https://github.com/andybp85/gfrog). This is a learning project for me (first-ever Racket/Lisp project!) and I'm not looking for credit or even planning on uploading to the Rac

[2019-04-02 08:20] sivark commented on #248
https://opensource.stackexchange.com/questions/2121/mit-license-and-all-rights-reserved

[2019-04-11 19:19] pmatos opened #249 "Document uri-prefix"
Variable `uri-prefix` is not documented. I checked, however that's valid and used in the example blog.

[2019-04-11 22:50] greghendershott commented on #249
Oh. Yes. I don't remember the history off the top of my head. From a quick glance at the code:

The `uri-prefix` template variable ~= the [`current-uri-prefix` parameter](https://docs.racket-lang.org/frog/parameters.html#%28def._%28%28lib._frog%2Fparams..rkt%29._current-uri-prefix%29%29). It's just "stringified" so that if the parameter value is `#f`, the template variable value is `""`, which is

[2019-04-12 00:26] greghendershott commented on #249
Looking more carefully: The `uri-prefix` template variable is supplied to all three templates, `{page post index}-template.html`, so all three spots in the doc should be updated.

[2019-04-12 00:36] #249 closed

[2019-04-12 00:38] greghendershott commented on #249
As with any doc change, this won't be reflected at https://docs.racket-lang.org/frog/templates.html until the next build server run (normally within 24 hours). However if you `raco update frog` it will should your local docs with the change.

[2019-04-21 02:32] greghendershott commented on #226
Very cool!

[2019-04-21 02:32] #226 closed

[2019-04-21 03:25] greghendershott commented on #184
I'm closing because this is two years old and in my opinion not actionable now.

[2019-04-21 03:25] #184 closed

[2019-05-02 15:42] greghendershott commented on #248
@andybp85 I'm sorry to be slow to reply. I saw this but I was too swamped to find time to think about it. Also it has been this way for something like 5 years, so it seemed important but not urgent.

@sivark Thank you for the link.

My current thinking is to:

1. Switch to Apache 2.0 License.  (Why: Racket is switching to that. It's clearer about various issues.)

2. Update the source files themse

[2019-05-10 20:17] pmatos opened #250 "Codeblock after paragraph"
If I use a codeblock like this:

[code]

it doesn't work because it expects a newline before ```. Why is this?

This works
[code]

[2019-05-31 21:21] greghendershott commented on #237
I don't remember.

It's moot: I wouldn't change it now. Existing users.

You're welcome to tweak the page and/or post templates, and/or style the h1 elements differently, and/or fork Frog and do whatever.

[2019-05-31 21:21] #237 closed

[2019-06-23 14:14] #209 closed

[2019-12-03 20:52] tfeb opened #252 "MathJax 3 support"
I've been playing with getting Frog to work with MathJax 3.  As best I can tell currently this requires two changes:

- The `math-jax` widget needs a way of not asking for a configuration as this seems not to be the approved way to do it in MathJax 3
- markdown needs to generate different output for maths, and in particular the `<script type="math/tex">...</script>` thing seems not to work now.

T

[2019-12-03 21:36] greghendershott commented on #252
I no longer use Frog myself and I'm no longer actively maintaining it in terms of adding new features. For example note I deliberately did not add a GitHub Sponsors button to this repo :smile:

Having said that, I'm not opposed to merging a PR from you -- if you can be available to field any follow-up issues that might result?

Things I don't know, but you might (or could find out):

- The MathJax

[2019-12-03 21:49] tfeb commented on #252
I don't know about MathJax 1.  It does work with 2.  The way I've made the change to Frog is that unless you say so nothing will change (there's a new keyword argument which defaults to 'be compatible').

For markdown I need to think more.  There's no change to the syntax that the parser accepts, but there is a change to the HTML it produces (but only in the case where there is MathJax in the inpu

[2019-12-15 14:03] yfzhe opened #253 "Fail regexp matching in `frog-version`"
Background: I am trying to use circle-ci and racket-docker to deploy my frog-based blog. Racket-docker seems to download the "pre-compiled" package from the package server:
[code]

When I run `raco frog --build`, it failed, with the following error message:
[code]
In [the line 181 of frog/private/main](https://github.com/greghendershott/frog/blob/master/frog/private/main.rkt#L181), it use regexp `

[2019-12-15 16:06] greghendershott commented on #253
Quick answer is I'm not sure what's going on. I'm not really maintaining this project anymore beyond bug fixes. I'm not sure if this is a bug, or, an "off-label usage" of Frog? :smile: But if you're wiling to help find an answer and/or make a PR, I'm willing to try to follow-up (probably can't during the last week of December, but before or after).

- The code is trying to use a version specified

[2019-12-18 09:15] jackfirth commented on #253
I haven't used Frog so I'm lacking context, but I think what's happening is that when using the [built-package catalog](https://pkg-build.racket-lang.org/about.html), the `info.rkt` module is only available in its compiled representation. The compiled representation is what's left after all reader transformations and macro expansions are done, so the file won't start with `#lang info` anymore. To

[2019-12-18 14:30] greghendershott commented on #253
Thanks for the idea about what's going on!

Frog still supports Racket 6.2 onward. With Racket pkgs/apps generally, I don't like to drop support for older versions unless/until it's absolutely unavoidable. Instead I [explicitly run CI against older versions](https://github.com/greghendershott/frog/blob/master/.travis.yml#L24-L42). At one point Frog dropped support for Racket 6.0 and 6.1, and I did

[2019-12-18 16:20] #253 closed

[2019-12-18 16:25] greghendershott commented on #253
I pushed a commit which I think is sufficient to close this.

I'm not familiar with the prebuilt package catalog, I'm not sure how frequently it rebuilds and would get this change. I imagine you might need to wait as long as 24 hours before you could try again, @yfzhe ?

Or maybe @jackfirth knows some way to use `racket-docker` but tell it to avoid the prebuilt package catalog completely (I don't

[2019-12-19 02:26] jackfirth commented on #253
You can explicitly prevent usage of the prebuilt catalog using the `--catalog` option of `raco pkg install`.

[2019-12-19 04:19] yfzhe commented on #253
@greghendershott Thanks for your commit! I have not tried it, but I will soon.

I had another solution: make the regexp support the pre-built version info.rkt as we exactly know how it would be. But in a ci environment, the version infomation is little important, so I think just a warning message is ok.

Thanks for your work again, from a daily user of racket-mode and frog (not daily).

[2020-01-10 03:26] cup opened #254 "reStructuredText"
I see that Markdown is supported:

https://docs.racket-lang.org/frog/Posts.html

Is reStructuredText supported?

https://docutils.sourceforge.io/docs/user/rst/quickref.html

[2020-01-10 08:56] ZelphirKaltstahl commented on #254
reStructuredText is a whole different beast. It has document internal linking with sources and sinks and linking to other documents as well as custom roles and uses indentation for some things. As far as I know, the reference implementation of reStructuredText is the only implementation in existence, that supports all reStructuredText features and uses a custom parser, not a complete grammar, whic

[2020-01-10 14:36] greghendershott commented on #254
Frog supports markdown and scribble formats.

Currently I don't have enough time/enthusiasm to add/debug/support additional formats. (Or any new features. The maintenance mode is only to try to fix bugs.)

[2020-01-14 09:29] tfeb commented on #252
I've now played with this a bunch more, and I'm convinced that my changes are safe (and in fact are improvements even for MathJax 2).  The I'll clean things up a little (the changes are really small) & submit a couple of pull requests (one for frog, one for markdown) in the next little while.

I am certainly willing to undertake support for them for both packages.  I can also write a thing on what

[2020-01-17 21:34] greghendershott commented on #252
Thanks for following up!

One thing that could be good to write -- maybe you could even post it here? -- would be the "elevator pitch" for "why MathJax 3".

In other words, if someone is content using Frog with an older version of MathJax, what's the story for them?

If they upgrade Frog, will things break until they migrate to 3? If so, and if they're inclined to feel grumpy about that -- why wil

[2020-01-18 11:09] tfeb commented on #252
So the elevator pitch for MathJax 3 is really the usual depressing one: at some time the MathJax people will stop making changes to MathJax 2 (this time may already be in the past), and at some time after that drift in browsers will mean it breaks, and MathJax 3 will start to be necessary.

What this change does (will do) is make it so that Frog can support MathJax 3 if the user wants it to, so at

[2020-01-20 19:37] soegaard commented on #252
The official "elevator pitch" for MathJax 3.

http://docs.mathjax.org/en/latest/upgrading/whats-new-3.0.html

/Jens Axel

Den lør. 18. jan. 2020 kl. 12.09 skrev Tim Bradshaw <
notifications@github.com>:

--
--
Jens Axel Søgaard

[2020-02-25 13:44] tfeb commented on #252
OK, I've now submitted both PRs for this:

- #255 for frog itself;
- greghendershott/markdown#81 for markdown.

There are no dependencies between them, although you need both if you want to use MathJax 3 with frog.

[2020-06-06 20:20] naddeoa opened #257 "How are descriptions determined for non-post pages?"
I've got a few non post pages on my site and it looks like the descriptions for those pages are determined to be more or less the entire content of the page, including script tags.

This is an example: https://naddeo.org/pokeboard/?mode=TypeFilterSearch&primary=ground&secondary=

It doesn't look like there are any metatags that can be used in non-post pages to explicitly set the description and I'

[2020-08-19 13:40] rfindler opened #258 "PDF documentation build fails"
Running `raco setup --doc-pdf x frog` generates pdf documentation in the `x` directory, except that the latex code fails. I think this is the relevant output that shows the error:

[code]

[2020-08-19 15:10] greghendershott commented on #258
Thanks for reporting this.

My initial reaction is that I'm unlikely to fix this because:

- I've never made any effort to test for PDF doc output. (AFAIK the Racket package build server doesn't build/test this, either? So I'm not even sure what the expectation is for packages? I thought this was more at the discretion of the package author?)

- I know nothing about LaTeX except that it has a funn

[2020-08-19 16:54] rfindler commented on #258
I agree it isn't a big deal. I'll make a pull request; feel free to ignore or merge as you wish.

For future reference, grey (and gray, sadly) [aren't in the minimal set of colors available via `color-property`](https://docs.racket-lang.org/scribble/core.html?q=color-property#%28def._%28%28lib._scribble%2Fcore..rkt%29._color-property%29%29) but since rgb values are, it looks like an easy fix.

[2020-08-19 17:36] greghendershott commented on #258
Oh! I didn't understand it's just tweaking a color. Thanks for the PR!

[2020-08-19 17:37] #258 closed

[2020-11-22 17:05] lojic commented on #187
FYI - There is now a frog channel in the Racket Slack.

[2022-01-23 01:05] winny- opened #261 "Feature request - livereload support"
When building a website or doing frontend work it can be very helpful to automatically refresh the page when the content or templates have been modified.  For example the static website generator hugo [offers this functionality](https://gohugo.io/getting-started/usage/#livereload) via livereload.

I'd use the heck out this feature in frog :).

[More about livereload here](http://livereload.com/).